<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://son.ddev.site/">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="apple-touch-icon" sizes="76x76" href="{{ siteUrl }}assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="{{ siteUrl }}assets/img/favicon.png">

<title>
  
hamburg-mpu
Ihr Partner bei der MPU-Vorbereitung in Hamburg
  
</title>




<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

<!-- Nucleo Icons -->
<link href="{{ siteUrl }}assets/css/nucleo-icons.css" rel="stylesheet" />
<link href="{{ siteUrl }}assets/css/nucleo-svg.css" rel="stylesheet" />

<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

<!-- CSS Files -->



<link id="pagestyle" href="{{ siteUrl }}assets/css/material-kit.css?v=3.0.4" rel="stylesheet" />





<!-- Nepcha Analytics (nepcha.com) -->
<!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
<script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>

<body class="index-page bg-gray-200">
  
  
  <!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0"><div class="row"><div class="col-12">
<nav class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
  <div class="container-fluid px-0">
    <a class="navbar-brand font-weight-bolder ms-sm-3" href="https://son.ddev.site/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
      Hamburg-mpu
    </a>
    </div>
    
    
    

        </ul>
        <div class="menu-primary-containerbir"><ul id="top-menu" class="menubir"><li id="menu-item-1011" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1011"><a href="https://son.ddev.site/uber-uns/uber-uns">Überuns</a></li>
    <li id="menu-item-1012" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1012"><a href="https://son.ddev.site/leistungen/leistungen">Leistungen</a></li>
    <li id="menu-item-1047" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1047"><a href="https://son.ddev.site/faq/h%C3%A4ufige-fragen">FAQ</a></li>
    <li id="menu-item-1024" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1024"><a href="https://son.ddev.site/sperrfrist/spsperrfrist">Sperrfrist</a></li>
    <li id="menu-item-989" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-989"><a href="https://son.ddev.site/kosten/kosten?x-craft-preview=yi5XnEiUeV&token=rs4MU3TUYKW8BQ9kp_wwWKWB66D4sXEs">Kosten</a></li>
    <li id="menu-item-1892" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1892"><a href="https://son.ddev.site/kontakt/kontakt">Kontakt</a></li>
    <li id="menu-item-2204" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2204"><a href="https://son.ddev.site/blog/blog">Blog</a></li>
</ul></div>
        
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
</div></div></div>


<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('https://hamburg-mpu.com/wp-content/uploads/2019/04/Sperrfristverkürzung.jpg')">
    <span class="mask bg-gradient-primary opacity-4"></span>
    <div class="container">
      <div class="row">
        
      </div>
    </div>
  </div>
</header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

<div id="pg-1020-1" class="panel-grid panel-no-style">
  <div id="pgc-1020-1-0" class="panel-grid-cell">
    <div id="panel-1020-1-0-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="1">
      <div class="panel-widget-style panel-widget-style-for-1020-1-0-0">
        <div class="so-widget-sow-editor so-widget-sow-editor-base">
          <div class="siteorigin-widget-tinymce textwidget">
            <h2><strong><span style="color: #1a3364;">Sperrfrist</span></strong></h2>
            <p><span style="color: #2085c9;"><strong>Sperrfristverkürzung nach § 69a Abs. 7 Strafgesetzbuch</strong></span></p>
            <div style="text-align: justify;">
              <p>Wenn Ihnen die Fahrerlaubnis per Gerichtsurteil entzogen wurde, darf das Straßenverkehrsamt vor Ablauf der Sperrfrist keine neue Fahrerlaubnis erteilen. Die Sperrfrist kann vom Gericht um bis zu drei Monate verkürzt werden, wenn Grund zur Annahme besteht, dass <em>„der Täter zum Führen von Kraftfahrzeugen nicht mehr ungeeignet ist“</em>. Eine Sperrfristverkürzung ist sowohl bei Auffälligkeiten mit Alkohol und/oder Drogen als auch bei verkehrs- bzw. strafrechtlichen Vergehen denkbar.</p>
              <p>Es ist möglich, die Sperrfrist über die Teilnahme an einer verkehrspsychologischen Schulung zu verkürzen. Der Betroffene weist somit dem Gericht nach, dass er sich mit fachlicher Unterstützung tiefgreifend mit seinem Fehlverhalten auseinandergesetzt hat, sodass künftig nicht mehr zu erwarten ist, dass er in gleicher Weise im Straßenverkehr auffällig wird.</p>
              <p>Bei einer Sperrfrist-Verhängung sollten Sie schnellstmöglich mit ihrem Rechtsbeistand, der Staatsanwaltschaft oder dem Gericht diesbezüglich sprechen, um die Möglichkeit der Sperrfristverkürzung auszuloten. Dieser Vorgang kann einige Zeit in Anspruch nehmen.</p>
              <p><span style="font-family: Times New Roman, sans-serif;"><span style="font-size: medium;"><span style="font-family: Arial, sans-serif;">Es kann sich als günstig erweisen, dem Gericht schon bei der Verhandlung nachzuweisen, dass man entscheidende Schritte in die richtige Richtung bereits unternommen hat, sodass die Sperrfrist vom Gericht </span></span></span><span style="font-family: Times New Roman, sans-serif;"><span style="font-size: medium;"><span style="font-family: Arial, sans-serif;">von vorneherein weniger lang angesetzt wird.</span></span></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  </div>

	<div class="slider-container">
  <ul class="slider-images">
    <li class="slider-image active-slide" style="background-color: rgb(26, 51, 100);">
      <div class="slider-content">
        <p style="text-align: center;  ">
          <a href="https://son.ddev.site/" style="color:indianred; font-weight: bold;">Über uns</a>
        </p>
        <p style="text-align: center; color:indianred;">Gabriela Dresel</p>
      </div>
    </li>
  </ul>
</div>

  <footer class="footer">

    <div class="content-columnbir centered">

      <p>Copyright 2023 hamburg-mpu Corp. Alle Rechte vorbehalten.</p>

    </div>
  </footer>

  <script src="{{ siteUrl }}static/js/scripts.js"></script>
</div>
<footer id="colophon" class="site-footer">
  <div class="wrap">
    <aside class="widget-area" aria-label="Footer">
      <div class="widget-column footer-widget-1">
        <section id="nav_menu-2" class="widget widget_nav_menu">
          <h2 class="widget-title">Informationen</h2>
          <nav class="menu-footer1-container" aria-label="Informationen">
            <ul id="menu-footer1" class="menu">
              <li id="menu-item-1826" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1187 current_page_item menu-item-1826">
                <a href="https://son.ddev.site/" aria-current="page">Home</a>
              </li>
              <li id="menu-item-1252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1252">
                <a href="https://hamburg-mpu.com/ueber-uns/">Über uns</a>
              </li>
              <li id="menu-item-1253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1253">
                <a href="https://son.ddev.site/leistungen/leistungen">Leistungen</a>
              </li>
              <li id="menu-item-1249" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1249">
                <a href="https://son.ddev.site/faq/h%C3%A4ufige-fragen">FAQ</a>
              </li>
              <li id="menu-item-1250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1250">
                <a href="https://son.ddev.site/sperrfrist/spsperrfrist?x-craft-preview=ZahEmXsCEp&amp;token=ZeGR584cYTCodMIgiiw5YrMFEhUEXY_-">Sperrfrist</a>
              </li>
              <li id="menu-item-1254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1254">
                <a href="https://son.ddev.site/admin/entries/kosten/65-kosten?draftId=27">Kosten</a>
              </li>
              <li id="menu-item-1801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1801">
                <a href="https://hamburg-mpu.com/kontakt-anfahrt/">Anfahrt</a>
              </li>
              <li id="menu-item-1846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1846">
                <a href="https://son.ddev.site/kontakt/kontakt">Kontakt</a>
              </li>
              <li id="menu-item-2149" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2149">
                <a href="https://son.ddev.site/blog/blog">Blog</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
      <div class="widget-column footer-widget-2">
        <section id="nav_menu-3" class="widget widget_nav_menu">
          <h2 class="widget-title">Rechtliches</h2>
          <nav class="menu-footer2-container" aria-label="Rechtliches">
            <ul id="menu-footer2" class="menu">
              <li id="menu-item-1342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-1342">
                <a rel="privacy-policy" href="https://hamburg-mpu.com/datenschutz/">Datenschutz</a>
              </li>
              <li id="menu-item-1341" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1341">
                <a href="https://hamburg-mpu.com/impressum/">Impressum</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
    </aside>
  </div>
</footer>

</body>
</html>





