<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://son.ddev.site/">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="apple-touch-icon" sizes="76x76" href="{{ siteUrl }}assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="{{ siteUrl }}assets/img/favicon.png">

<title>
  
hamburg-mpu
Ihr Partner bei der MPU-Vorbereitung in Hamburg
  
</title>




<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

<!-- Nucleo Icons -->
<link href="{{ siteUrl }}assets/css/nucleo-icons.css" rel="stylesheet" />
<link href="{{ siteUrl }}assets/css/nucleo-svg.css" rel="stylesheet" />

<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

<!-- CSS Files -->



<link id="pagestyle" href="{{ siteUrl }}assets/css/material-kit.css?v=3.0.4" rel="stylesheet" />





<!-- Nepcha Analytics (nepcha.com) -->
<!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
<script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>

<body class="index-page bg-gray-200">
  
  
  <!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0"><div class="row"><div class="col-12">
<nav class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
  <div class="container-fluid px-0">
    <a class="navbar-brand font-weight-bolder ms-sm-3" href="https://son.ddev.site/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
      Hamburg-mpu
    </a>
    </div>
    
    
    

        </ul>
        <div class="menu-primary-containerbir"><ul id="top-menu" class="menubir"><li id="menu-item-1011" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1011"><a href="https://son.ddev.site/uber-uns/uber-uns">Überuns</a></li>
    <li id="menu-item-1012" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1012"><a href="https://son.ddev.site/leistungen/leistungen">Leistungen</a></li>
    <li id="menu-item-1047" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1047"><a href="https://son.ddev.site/faq/h%C3%A4ufige-fragen">FAQ</a></li>
    <li id="menu-item-1024" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1024"><a href="https://son.ddev.site/sperrfrist/spsperrfrist">Sperrfrist</a></li>
    <li id="menu-item-989" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-989"><a href="https://son.ddev.site/kosten/kosten?x-craft-preview=yi5XnEiUeV&token=rs4MU3TUYKW8BQ9kp_wwWKWB66D4sXEs">Kosten</a></li>
    <li id="menu-item-1892" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1892"><a href="https://son.ddev.site/kontakt/kontakt">Kontakt</a></li>
    <li id="menu-item-2204" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2204"><a href="https://son.ddev.site/blog/blog">Blog</a></li>
</ul></div>
        
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
</div></div></div>


<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('https://hamburg-mpu.com/wp-content/uploads/2021/03/IMpressum-Hilde-STtockmann.jpg')">
    <span class="mask bg-gradient-primary opacity-4"></span>
    <div class="container">
      <div class="row">
        
      </div>
    </div>
  </div>
</header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

<div class="siteorigin-widget-tinymce textwidget">
	<h2><strong><span style="color: #1a3364;">Impressum</span></strong></h2>
<p><span style="color: #2085c9;"><strong>Hamburg-MPU&nbsp;[MPU Vorbereitung Hamburg]</strong></span><br>
Ruhrstraße 61<br>
22761 Hamburg</p>
<p>Bürogemeinschaft<br>
Gabriela Dresel</p>
<p><strong><span style="color: #1a3364;"><span style="color: #2085c9;">Telefon</span>&nbsp;</span></strong> <a href="tel:+494089003777">040 89 00 37 77</a><br>
<span style="color: #2085c9;"><strong>Mobil</strong></span> &nbsp;&nbsp;&nbsp; <a href="tel:+4917652693833">0176 52 69 38 33</a></p>
<p><span style="color: #2085c9;"><strong>E-Mail</strong></span> info[at]hamburg-mpu.com<br>
<span style="color: #2085c9;"><strong>Internet</strong></span> https://hamburg-mpu.com</p>
<p><strong><span style="color: #2085c9;">Betriebshaftpflichtversicherung</span><br>
</strong>Gothaer Allgemeine Versicherung AG<br>
50598 Köln<strong><br>
</strong></p>
<p><span style="color: #2085c9;"><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</strong></span><br>
Gabriela Dresel (Anschrift wie oben)</p>
<p><span style="color: #2085c9;"><strong>technische Umsetzung</strong></span><br>
<a href="https://solution2ls.com" target="_blank" rel="noreferrer noopener">S2 grafix &amp; network</a></p>
<p><strong><span style="color: #2085c9;">Bildnachweise<br>
</span></strong><span style="font-family: Arial, sans-serif;"><span style="font-size: medium;">Bilderdatenbank Pixabay<br>
</span></span><span style="font-family: Arial, sans-serif;"><span style="font-size: medium;">„home" Karsten Bergmann<br>
</span></span>„<span style="font-family: Arial, sans-serif;"><span style="font-size: medium;">Leistungen“ und „Über uns“ Marzena P. (Nick Marzena7)<br>
</span></span>„<span style="font-family: Arial, sans-serif;"><span style="font-size: medium;">FAQ und Sperrfrist“ Gerd Altmann (Nick Geralt)<br>
</span></span><span style="font-family: Arial, sans-serif;"><span style="font-size: medium;">„Kosten“ svklimkin (Nick Klimkin)<br>
</span></span><span style="font-family: Arial, sans-serif;"><span style="font-size: medium;">„Anfahrt“ (Nick Pixel 2013)<br>
</span></span><span style="font-family: Arial, sans-serif;"><span style="font-size: medium;">„Datenschutz“ </span></span><span style="font-family: Arial, sans-serif;"><span style="font-size: medium;">Andrew Martin (Nick aitoff)<br>
</span></span><span style="font-family: Arial, sans-serif;"><span style="font-size: medium;">„Impressum“ Polski (Nick radlak)<br>
Blog "Skulptur" Joseph Beradi<br>
Blog "Schnecke" Nérisson Photographie<br>
Blog "Roadblock" frankenduden<br>
Blog "Boot" PublicDomainPictures<br>
Blog "compass" geralt<br>
Blog "Paragraph" geralt<br>
</span></span></p>
<div style="text-align: justify;"><span style="color: #2085c9;"><strong>Streitschlichtung</strong></span><br>
Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="http://ec.europa.eu/consumers/odr" target="_blank" rel="noopener">http://ec.europa.eu/consumers/odr</a>. Unsere E-Mail-Adresse finden Sie oben im Impressum. Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</div>
<p>&nbsp;</p>
<div style="text-align: justify;"><span style="color: #2085c9;"><strong>Haftung für Inhalte</strong></span><br>
Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.<br>
Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</div>
<p>&nbsp;</p>
<div style="text-align: justify;"><span style="color: #2085c9;"><strong>Haftung für Links</strong></span><br>
Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</div>
<p>&nbsp;</p>
<div style="text-align: justify;"><span style="color: #2085c9;"><strong>Urheberrecht</strong></span><br>
Die durch den Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.<br>
Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir Sie um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</div>
<p>Quelle: <a href="https://www.e-recht24.de" target="_blank" rel="noreferrer noopener">https://www.e-recht24.de</a></p>
</div>

  </div>

	<div class="slider-container">
  <ul class="slider-images">
    <li class="slider-image active-slide" style="background-color: rgb(26, 51, 100);">
      <div class="slider-content">
        <p style="text-align: center;  ">
          <a href="https://son.ddev.site/" style="color:indianred; font-weight: bold;">Über uns</a>
        </p>
        <p style="text-align: center; color:indianred;">Gabriela Dresel</p>
      </div>
    </li>
  </ul>
</div>

  <footer class="footer">

    <div class="content-columnbir centered">

      <p>Copyright 2023 hamburg-mpu Corp. Alle Rechte vorbehalten.</p>

    </div>
  </footer>

  <script src="{{ siteUrl }}static/js/scripts.js"></script>
</div>
<footer id="colophon" class="site-footer">
  <div class="wrap">
    <aside class="widget-area" aria-label="Footer">
      <div class="widget-column footer-widget-1">
        <section id="nav_menu-2" class="widget widget_nav_menu">
          <h2 class="widget-title">Informationen</h2>
          <nav class="menu-footer1-container" aria-label="Informationen">
            <ul id="menu-footer1" class="menu">
              <li id="menu-item-1826" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1187 current_page_item menu-item-1826">
                <a href="https://son.ddev.site/" aria-current="page">Home</a>
              </li>
              <li id="menu-item-1252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1252">
                <a href="https://hamburg-mpu.com/ueber-uns/">Über uns</a>
              </li>
              <li id="menu-item-1253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1253">
                <a href="https://son.ddev.site/leistungen/leistungen">Leistungen</a>
              </li>
              <li id="menu-item-1249" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1249">
                <a href="https://son.ddev.site/faq/h%C3%A4ufige-fragen">FAQ</a>
              </li>
              <li id="menu-item-1250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1250">
                <a href="https://son.ddev.site/sperrfrist/spsperrfrist?x-craft-preview=ZahEmXsCEp&amp;token=ZeGR584cYTCodMIgiiw5YrMFEhUEXY_-">Sperrfrist</a>
              </li>
              <li id="menu-item-1254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1254">
                <a href="https://son.ddev.site/admin/entries/kosten/65-kosten?draftId=27">Kosten</a>
              </li>
              <li id="menu-item-1801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1801">
                <a href="https://hamburg-mpu.com/kontakt-anfahrt/">Anfahrt</a>
              </li>
              <li id="menu-item-1846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1846">
                <a href="https://son.ddev.site/kontakt/kontakt">Kontakt</a>
              </li>
              <li id="menu-item-2149" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2149">
                <a href="https://son.ddev.site/blog/blog">Blog</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
      <div class="widget-column footer-widget-2">
        <section id="nav_menu-3" class="widget widget_nav_menu">
          <h2 class="widget-title">Rechtliches</h2>
          <nav class="menu-footer2-container" aria-label="Rechtliches">
            <ul id="menu-footer2" class="menu">
              <li id="menu-item-1342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-1342">
                <a rel="privacy-policy" href="https://hamburg-mpu.com/datenschutz/">Datenschutz</a>
              </li>
              <li id="menu-item-1341" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1341">
                <a href="https://hamburg-mpu.com/impressum/">Impressum</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
    </aside>
  </div>
</footer>

</body>
</html>





