<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://son.ddev.site/">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="apple-touch-icon" sizes="76x76" href="{{ siteUrl }}assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="{{ siteUrl }}assets/img/favicon.png">

<title>
  
hamburg-mpu
Ihr Partner bei der MPU-Vorbereitung in Hamburg
  
</title>




<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

<!-- Nucleo Icons -->
<link href="{{ siteUrl }}assets/css/nucleo-icons.css" rel="stylesheet" />
<link href="{{ siteUrl }}assets/css/nucleo-svg.css" rel="stylesheet" />

<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

<!-- CSS Files -->



<link id="pagestyle" href="{{ siteUrl }}assets/css/material-kit.css?v=3.0.4" rel="stylesheet" />





<!-- Nepcha Analytics (nepcha.com) -->
<!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
<script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>

<body class="index-page bg-gray-200">
  
  
  <!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0"><div class="row"><div class="col-12">
<nav class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
  <div class="container-fluid px-0">
    <a class="navbar-brand font-weight-bolder ms-sm-3" href="https://son.ddev.site/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
      Hamburg-mpu
    </a>
    </div>
    
    
    

        </ul>
        <div class="menu-primary-containerbir"><ul id="top-menu" class="menubir"><li id="menu-item-1011" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1011"><a href="https://son.ddev.site/uber-uns/uber-uns">Überuns</a></li>
    <li id="menu-item-1012" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1012"><a href="https://son.ddev.site/leistungen/leistungen">Leistungen</a></li>
    <li id="menu-item-1047" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1047"><a href="https://son.ddev.site/faq/h%C3%A4ufige-fragen">FAQ</a></li>
    <li id="menu-item-1024" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1024"><a href="https://son.ddev.site/sperrfrist/spsperrfrist">Sperrfrist</a></li>
    <li id="menu-item-989" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-989"><a href="https://son.ddev.site/kosten/kosten?x-craft-preview=yi5XnEiUeV&token=rs4MU3TUYKW8BQ9kp_wwWKWB66D4sXEs">Kosten</a></li>
    <li id="menu-item-1892" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1892"><a href="https://son.ddev.site/kontakt/kontakt">Kontakt</a></li>
    <li id="menu-item-2204" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2204"><a href="https://son.ddev.site/blog/blog">Blog</a></li>
</ul></div>
        
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
</div></div></div>


<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('https://hamburg-mpu.com/wp-content/uploads/2021/07/5-compass-73112-geralt4-768x497.jpg')">
    <span class="mask bg-gradient-primary opacity-4"></span>
    <div class="container">
      <div class="row">
        
      </div>
    </div>
  </div>
</header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

<div class="wrap">
	<div id="primary" class="content-area">
		<main id="main" class="site-main">

			
<article id="post-2018" class="post-2018 post type-post status-publish format-quote hentry category-news tag-mpu-anmeldung post_format-post-format-quote">
		<header class="entry-header">
		<div class="entry-meta"><span class="posted-on"><span class="screen-reader-text">Veröffentlicht am</span> <a href="https://hamburg-mpu.com/so-funktioniert-die-mpu-anmeldung/" rel="bookmark"><time class="entry-date published" datetime="2021-07-05T07:31:48+00:00">Juli 5, 2021</time><time class="updated" datetime="2021-07-19T07:14:27+00:00">Juli 19, 2021</time></a></span><span class="byline"> von <span class="author vcard"><a class="url fn n" href="https://hamburg-mpu.com/author/hamburgmpu/">hamburgmpu</a></span></span></div><!-- .entry-meta --><h1 class="entry-title">So funktioniert die MPU Anmeldung</h1>	</header><!-- .entry-header -->

	
	<div class="entry-content">
		<p><a href="#more-2018"><br>
							<img decoding="async" width="525" height="340" src="https://hamburg-mpu.com/wp-content/uploads/2021/07/5-compass-73112-geralt4-768x497.jpg" alt="" loading="lazy" srcset="https://hamburg-mpu.com/wp-content/uploads/2021/07/5-compass-73112-geralt4-768x497.jpg 768w, https://hamburg-mpu.com/wp-content/uploads/2021/07/5-compass-73112-geralt4-300x194.jpg 300w, https://hamburg-mpu.com/wp-content/uploads/2021/07/5-compass-73112-geralt4-1024x662.jpg 1024w, https://hamburg-mpu.com/wp-content/uploads/2021/07/5-compass-73112-geralt4-1536x993.jpg 1536w, https://hamburg-mpu.com/wp-content/uploads/2021/07/5-compass-73112-geralt4.jpg 1772w" sizes="100vw">								</a></p>
<h1>So funktioniert die MPU Anmeldung</h1>
<h2>MPU Anmeldung</h2>
<p>Für viele klingt es erst einmal wie ein Schock: aufgrund zu schnellen Fahrens oder dem Konsum von Alkohol/ Drogen hinterm Steuer wird Ihnen der Führerschein entzogen. Ab einer gewissen Promillegrenze sowie bei wiederholten, erheblichen Verstößen wird in den meisten Fällen eine Medizinisch-Psychologische Untersuchung, im Volksmund auch „Idiotentest“ genannt, angeordnet. Was gilt es denn zu beachten, wenn man den Führerschein wiedererlangen möchte?</p>
<p><span id="more-2018"></span></p>
<h2>MPU Antrag</h2>
<p>Sollten Sie von dieser Situation betroffen sein, müssen Sie einen Wiedererteilungsantrag bei der Führerscheinstelle stellen. Deren Mitarbeiter überprüfen, ob Sie diesen direkt zurückbekommen können, oder ob Sie die MPU absolvieren müssen. Wenn Letzteres der Fall ist, werden sie dort gebeten, sich eine Begutachtungsstelle für Ihre Medizinisch-Psychologische Untersuchung auszuwählen. Diesbezüglich können Sie frei entscheiden, wo in Deutschland Sie diese absolvieren, Sie sind dabei nicht an ihren Wohnort oder eine gewisse Kilometerdistanz zu diesem gebunden. Die einzige Voraussetzung ist, dass es sich um eine akkreditierte Begutachtungsstelle für Ihre MPU Anmeldung handelt.</p>
<h2>MPU Verfahren</h2>
<p>Nachdem Sie sich eine Begutachtungsstelle ausgesucht haben, teilen Sie diesen der Fahrerlaubnisbehörde mit, anschließend leiten deren Mitarbeiter Ihre persönliche Führerscheinakte an diese Stelle weiter. Daraufhin bekommen Sie Informationen zu den Begutachtungskosten zugesendet. Wenn Sie diese bezahlt haben, können Sie für die Begutachtung einen Termin vereinbaren. Dieses sollten Sie jedoch nicht auf die leichte Schulter nehmen. Eine Beratung bezüglich der anstehenden MPU kann hilfreich sein und erspart Ihnen so einige Mühe. Ein klärendes Erstgespräch ist für Sie bei hamburg-mpu stets kostenfrei und unverbindlich.</p>
<h2>Ablauf Gutachten</h2>
<p>Nachdem Sie den Termin vereinbart, und eventuelle Abstinenznachweise hinsichtlich Alkohol- und Drogenabstinenz erbracht haben, begeben Sie sich am Tag der Medizinisch-Psychologischen Untersuchung mit Ihrem Personalausweis zur Begutachtungsstelle. Dort werden Ihnen mehrere Bögen ausgehändigt, welche führerscheinspezifische und medizinische Themen, als auch Fragen zu Ihren persönlichen Verhältnissen behandeln. Auch aufgrund der Erkenntnisse aus diesen Fragen trifft am Ende ein Verkehrspsychologe die Entscheidung über einen positiven oder einem negativen Ausgang der MPU. Die gesamte Untersuchung benötigt ca. drei – vier Stunden und unterteilt sich in drei Bereiche: die medizinische Untersuchung, ein psychologisches Untersuchungsgespräch und einen Leistungstest am Computer.</p>
<h2>Medizinisches Gutachten</h2>
<p>Im Rahmen dieser Überprüfung kontrolliert ein Arzt, ob Ihr Körper für das Führen eines Kraftfahrzeugs geeignet ist. Hierfür müssen eventuelle Abstinenznachweise vorgelegt werden, außerdem wird bei einer Alkoholfragestellung eine Blutprobe entnommen, bei einer Drogenfragestellung müssen Sie Urin abgeben. Ein Koordinationstest zur Abklärung neurologischer Ausfälle ist ebenfalls Bestandteil.</p>
<h2>Psychologisches Untersuchungsgespräch</h2>
<p>In diesem wichtigen Gespräch mit dem Gutachter ist es erforderlich, sich selbstkritisch mit den Vorfällen und Ursachen, die zur Medizinisch-Psychologischen Untersuchung führten, zu hinterfragen. Eine Verhaltensänderung ist Voraussetzung für das Wiedererlangen der Fahrerlaubnis.</p>
<h2>Leistungstest am Computer</h2>
<p>Auch eine Überprüfung der kognitiven Leistungsfähigkeit ist Teil der MPU. Hierbei wird unter anderem die Reaktionsschnelligkeit ausgewertet.</p>
<h2>Nach dem MPU Gutachten</h2>
<p>Sie können selber auswählen, an wen das Gutachten mitsamt dem Ergebnis geschickt werden soll. Beachten Sie aber, dass dieses auch eventuell negativ ausfallen könnten, weshalb Sie es unbedingt an sich persönlich zukommen lassen sollten.</p>
	</div><!-- .entry-content -->

	<footer class="entry-footer"><span class="cat-tags-links"><span class="tags-links"><svg class="icon icon-hashtag" aria-hidden="true" role="img"> <use href="#icon-hashtag" xlink:href="#icon-hashtag"></use> </svg><span class="screen-reader-text">Schlagwörter</span><a href="https://son.ddev.site/so-funktioniert-die-mpu-anmeldung/so-funktioniert-die-mpu-anmeldung" rel="tag">MPU Anmeldung</a></span></span></footer> <!-- .entry-footer -->
</article><!-- #post-2018 -->

	<nav class="navigation post-navigation" aria-label="Beiträge">
		<h2 class="screen-reader-text">Beitrags-Navigation</h2>
		<div class="nav-links"><div class="nav-previous"><a href="https://son.ddev.site/mpu-verjahrung/mpu-verj%C3%A4hrung?x-craft-preview=49ib88xFjp&token=9x540bCr7G1W7lNk_nPubZFCzOw27X69" rel="prev"><span class="screen-reader-text">Vorheriger Beitrag</span><span aria-hidden="true" class="nav-subtitle">Zurück</span> <span class="nav-title"><span class="nav-title-icon-wrapper"><svg class="icon icon-arrow-left" aria-hidden="true" role="img"> <use href="#icon-arrow-left" xlink:href="#icon-arrow-left"></use> </svg></span>MPU Verjährung: Ab wann und was gibt es zu beachten?</span></a></div><div class="nav-next"><a href="https://son.ddev.site/mpu-gutachten-kaufen/mpu-gutachten-kaufen" rel="next"><span class="screen-reader-text">Nächster Beitrag</span><span aria-hidden="true" class="nav-subtitle">Weiter</span> <span class="nav-title">MPU Gutachten kaufen<span class="nav-title-icon-wrapper"><svg class="icon icon-arrow-right" aria-hidden="true" role="img"> <use href="#icon-arrow-right" xlink:href="#icon-arrow-right"></use> </svg></span></span></a></div></div>
	</nav>
		</main><!-- #main -->
	</div><!-- #primary -->
	
<aside id="secondary" class="widget-area" aria-label="Blog-Seitenleiste">
	<section id="block-6" class="widget widget_block">
<div class="wp-block-buttons is-layout-flex"></div>
</section></aside><!-- #secondary -->
</div>

  </div>

	<div class="slider-container">
  <ul class="slider-images">
    <li class="slider-image active-slide" style="background-color: rgb(26, 51, 100);">
      <div class="slider-content">
        <p style="text-align: center;  ">
          <a href="https://son.ddev.site/" style="color:indianred; font-weight: bold;">Über uns</a>
        </p>
        <p style="text-align: center; color:indianred;">Gabriela Dresel</p>
      </div>
    </li>
  </ul>
</div>

  <footer class="footer">

    <div class="content-columnbir centered">

      <p>Copyright 2023 hamburg-mpu Corp. Alle Rechte vorbehalten.</p>

    </div>
  </footer>

  <script src="{{ siteUrl }}static/js/scripts.js"></script>
</div>
<footer id="colophon" class="site-footer">
  <div class="wrap">
    <aside class="widget-area" aria-label="Footer">
      <div class="widget-column footer-widget-1">
        <section id="nav_menu-2" class="widget widget_nav_menu">
          <h2 class="widget-title">Informationen</h2>
          <nav class="menu-footer1-container" aria-label="Informationen">
            <ul id="menu-footer1" class="menu">
              <li id="menu-item-1826" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1187 current_page_item menu-item-1826">
                <a href="https://son.ddev.site/" aria-current="page">Home</a>
              </li>
              <li id="menu-item-1252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1252">
                <a href="https://hamburg-mpu.com/ueber-uns/">Über uns</a>
              </li>
              <li id="menu-item-1253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1253">
                <a href="https://son.ddev.site/leistungen/leistungen">Leistungen</a>
              </li>
              <li id="menu-item-1249" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1249">
                <a href="https://son.ddev.site/faq/h%C3%A4ufige-fragen">FAQ</a>
              </li>
              <li id="menu-item-1250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1250">
                <a href="https://son.ddev.site/sperrfrist/spsperrfrist?x-craft-preview=ZahEmXsCEp&amp;token=ZeGR584cYTCodMIgiiw5YrMFEhUEXY_-">Sperrfrist</a>
              </li>
              <li id="menu-item-1254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1254">
                <a href="https://son.ddev.site/admin/entries/kosten/65-kosten?draftId=27">Kosten</a>
              </li>
              <li id="menu-item-1801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1801">
                <a href="https://hamburg-mpu.com/kontakt-anfahrt/">Anfahrt</a>
              </li>
              <li id="menu-item-1846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1846">
                <a href="https://son.ddev.site/kontakt/kontakt">Kontakt</a>
              </li>
              <li id="menu-item-2149" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2149">
                <a href="https://son.ddev.site/blog/blog">Blog</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
      <div class="widget-column footer-widget-2">
        <section id="nav_menu-3" class="widget widget_nav_menu">
          <h2 class="widget-title">Rechtliches</h2>
          <nav class="menu-footer2-container" aria-label="Rechtliches">
            <ul id="menu-footer2" class="menu">
              <li id="menu-item-1342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-1342">
                <a rel="privacy-policy" href="https://hamburg-mpu.com/datenschutz/">Datenschutz</a>
              </li>
              <li id="menu-item-1341" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1341">
                <a href="https://hamburg-mpu.com/impressum/">Impressum</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
    </aside>
  </div>
</footer>

</body>
</html>





