<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://son.ddev.site/">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="apple-touch-icon" sizes="76x76" href="{{ siteUrl }}assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="{{ siteUrl }}assets/img/favicon.png">

<title>
  
hamburg-mpu
Ihr Partner bei der MPU-Vorbereitung in Hamburg
  
</title>




<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

<!-- Nucleo Icons -->
<link href="{{ siteUrl }}assets/css/nucleo-icons.css" rel="stylesheet" />
<link href="{{ siteUrl }}assets/css/nucleo-svg.css" rel="stylesheet" />

<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

<!-- CSS Files -->



<link id="pagestyle" href="{{ siteUrl }}assets/css/material-kit.css?v=3.0.4" rel="stylesheet" />





<!-- Nepcha Analytics (nepcha.com) -->
<!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
<script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>

<body class="index-page bg-gray-200">
  
  
  <!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0"><div class="row"><div class="col-12">
<nav class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
  <div class="container-fluid px-0">
    <a class="navbar-brand font-weight-bolder ms-sm-3" href="https://son.ddev.site/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
      Hamburg-mpu
    </a>
    </div>
    
    
    

        </ul>
        <div class="menu-primary-containerbir"><ul id="top-menu" class="menubir"><li id="menu-item-1011" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1011"><a href="https://son.ddev.site/uber-uns/uber-uns">Überuns</a></li>
    <li id="menu-item-1012" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1012"><a href="https://son.ddev.site/leistungen/leistungen">Leistungen</a></li>
    <li id="menu-item-1047" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1047"><a href="https://son.ddev.site/faq/h%C3%A4ufige-fragen">FAQ</a></li>
    <li id="menu-item-1024" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1024"><a href="https://son.ddev.site/sperrfrist/spsperrfrist">Sperrfrist</a></li>
    <li id="menu-item-989" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-989"><a href="https://son.ddev.site/kosten/kosten?x-craft-preview=yi5XnEiUeV&token=rs4MU3TUYKW8BQ9kp_wwWKWB66D4sXEs">Kosten</a></li>
    <li id="menu-item-1892" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1892"><a href="https://son.ddev.site/kontakt/kontakt">Kontakt</a></li>
    <li id="menu-item-2204" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2204"><a href="https://son.ddev.site/blog/blog">Blog</a></li>
</ul></div>
        
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
</div></div></div>


<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('https://hamburg-mpu.com/wp-content/uploads/2019/04/Datenschutz-1.jpg')">
    <span class="mask bg-gradient-primary opacity-4"></span>
    <div class="container">
      <div class="row">
        
      </div>
    </div>
  </div>
</header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

<div id="pg-1038-1" class="panel-grid panel-no-style"><div id="pgc-1038-1-0" class="panel-grid-cell"><div id="panel-1038-1-0-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="1"><div class="panel-widget-style panel-widget-style-for-1038-1-0-0"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<h2><strong><span style="color: #1a3364;">Datenschutz</span></strong></h2>
<p><span style="color: #2085c9;"><strong>Geltungsbereich</strong></span></p>
<div style="text-align: justify;">Diese Datenschutzerklärung soll die Nutzer dieser Website gemäß Bundesdatenschutzgesetz und Telemediengesetz über die Art, den Umfang und den Zweck der Erhebung und Verwendung personenbezogener Daten durch den Websitebetreiber:</div>
<p><strong><em><span style="color: #2085c9;">hamburg-mpu | Ruhrstrasse 61 | 22761 Hamburg</span><br>
</em></strong> – im folgenden <em>hamburg-mpu</em> genannt - informieren.</p>
<div style="text-align: justify;">
<p><em>hamburg-mpu</em>&nbsp;nimmt Ihren Datenschutz sehr ernst und behandelt Ihre personenbezogenen Daten vertraulich, und entsprechend der gesetzlichen Vorschriften.</p>
<p>Bedenken Sie, dass die Datenübertragung im Internet grundsätzlich mit Sicherheitslücken bedacht sein kann. Ein vollumfänglicher Schutz vor dem Zugriff durch Fremde ist nicht realisierbar.</p>
</div>
<div style="text-align: justify;"><span style="color: #2085c9;"><strong>Zugriffsdaten</strong></span><br>
<em>hamburg-mpu </em>bzw. der Seitenprovider erhebt Daten über Zugriffe auf die Seite und speichert diese als „Server-Logfiles“ ab. Folgende Daten werden so protokolliert:<br>
Besuchte Website · Uhrzeit zum Zeitpunkt des Zugriffes · Menge der gesendeten Daten in Byte · Quelle/Verweis, von welchem Sie auf die Seite gelangten · Verwendeter Browser · Verwendetes Betriebssystem · verwendete IP-Adresse.<br>
Die erhobenen Daten dienen lediglich statistischen Auswertungen und zur Verbesserung der Website. <em>Hamburg-MPU </em>behält sich allerdings vor, die Server-Logfiles nachträglich zu überprüfen, sollten konkrete Anhaltspunkte auf eine rechtswidrige Nutzung hinweisen.</div>
<p>&nbsp;</p>
<div style="text-align: justify;"><span style="color: #2085c9;"><strong>Umgang mit personenbezogenen Daten</strong></span><br>
<em>hamburg-mpu</em>&nbsp;erhebt, nutzt und gibt Ihre personenbezogenen Daten nur dann weiter, wenn dies im gesetzlichen Rahmen erlaubt ist oder Sie in die Datenerhebung einwilligen.<br>
Als personenbezogene Daten gelten sämtliche Informationen, welche dazu dienen, Ihre Person zu bestimmen und welche zu Ihnen zurückverfolgt werden können – also beispielsweise Ihr Name, Ihre E-Mail-Adresse und Telefonnummer.</div>
<p>&nbsp;</p>
<div style="text-align: justify;"><span style="color: #2085c9;"><strong>Umgang mit Kontaktdaten</strong></span><br>
Nehmen Sie mit der <em>hamburg-mpu</em> durch die angebotenen Kontaktmöglichkeiten Verbindung auf, werden Ihre Angaben gespeichert, damit auf diese zur Bearbeitung und Beantwortung Ihrer Anfrage zurückgegriffen werden kann. Ohne Ihre Einwilligung werden diese Daten nicht an Dritte weitergegeben.</div>
<p>&nbsp;</p>
<div style="text-align: justify;">
<p><span style="color: #2085c9;"><strong>Rechte des Nutzers: Auskunft, Berichtigung und Löschung</strong></span><br>
Sie als Nutzer erhalten auf Antrag Ihrerseits kostenlose Auskunft darüber, welche personenbezogenen Daten über Sie gespeichert wurden. Sofern Ihr Wunsch nicht mit einer gesetzlichen Pflicht zur Aufbewahrung von Daten (z. B. Vorratsdatenspeicherung) kollidiert, haben Sie ein Anrecht auf Berichtigung falscher Daten und auf die Sperrung oder Löschung Ihrer personenbezogenen Daten.</p>
<div style="text-align: justify;"><span style="color: #2085c9;"><strong>Cookies</strong></span><br>
Diese Website verwendet Cookies. Dabei handelt es sich um kleine Textdateien, welche auf Ihrem Endgerät gespeichert werden. Ihr Browser greift auf diese Dateien zu. Durch den Einsatz von Cookies erhöht sich die Benutzerfreundlichkeit und Sicherheit dieser Website. Gängige Browser bieten die Einstellungsoption, Cookies nicht zuzulassen. Hinweis: Es ist nicht gewährleistet, dass Sie auf alle Funktionen dieser Website ohne Einschränkungen zugreifen können, wenn Sie entsprechende Einstellungen vornehmen.</div>
<div>
<p>&nbsp;</p>
<div style="text-align: justify;"><span style="color: #2085c9;"><strong>SSL-Verschlüsselung</strong></span><br>
Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung.<br>
Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer Browserzeile. Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.</div>
</div>
<p>&nbsp;</p>
<div>
<div style="text-align: justify;"><span style="color: #2085c9;"><strong>Anpassungen</strong></span><br>
Die ständige Entwicklung des Internets macht von Zeit zu Zeit Anpassungen unserer Datenschutzerklärung erforderlich. Wir behalten uns vor, jederzeit entsprechende Änderungen vorzunehmen.</div>
<p>&nbsp;</p>
<div>Wir behalten uns als Betreiber der Seiten ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.</div>
<p>&nbsp;</p>
<p><em>hamburg-mpu</em><br>
<em>im Juni 2022<br>
</em></p>
<p>© 2018 - 2022 hamburg-mpu</p>
</div>
<div></div>
<p>&nbsp;</p>
</div>
</div>
</div></div></div></div><div id="pgc-1038-1-1" class="panel-grid-cell"><div id="panel-1038-1-1-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="2"><div class="panel-widget-style panel-widget-style-for-1038-1-1-0"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<div style="text-align: justify;">
<p><span style="color: #2085c9;"><strong>Nutzung von Google Analytics</strong></span><br>
Der für die Verarbeitung Verantwortliche hat auf dieser Internetseite die Komponente Google Analytics (mit Anonymisierungsfunktion) integriert. Google Analytics ist ein Web-Analyse-Dienst. Web-Analyse ist die Erhebung, Sammlung und Auswertung von Daten über das Verhalten von Besuchern von Internetseiten. Ein Web-Analyse-Dienst erfasst unter anderem Daten darüber, von welcher Internetseite eine betroffene Person auf eine Internetseite gekommen ist (sogenannte Referrer), auf welche Unterseiten der Internetseite zugegriffen oder wie oft und für welche Verweildauer eine Unterseite betrachtet wurde. Eine Web-Analyse wird überwiegend zur Optimierung einer Internetseite und zur Kosten-Nutzen-Analyse von Internetwerbung eingesetzt.<br>
Betreibergesellschaft der Google-Analytics-Komponente ist die Google Inc., 1600 Amphitheatre Pkwy, Mountain View, CA 94043-1351, USA.<br>
Der für die Verarbeitung Verantwortliche verwendet für die Web-Analyse über Google Analytics den Zusatz „_gat._anonymizeIp“. Mittels dieses Zusatzes wird die IP-Adresse des Internetanschlusses der betroffenen Person von Google gekürzt und anonymisiert, wenn der Zugriff auf unsere Internetseiten aus einem Mitgliedstaat der Europäischen Union oder aus einem anderen Vertragsstaat des Abkommens über den Europäischen Wirtschaftsraum erfolgt.<br>
Der Zweck der Google-Analytics-Komponente ist die Analyse der Besucherströme auf unserer Internetseite. Google nutzt die gewonnenen Daten und Informationen unter anderem dazu, die Nutzung unserer Internetseite auszuwerten, um für uns Online-Reports, welche die Aktivitäten auf unseren Internetseiten aufzeigen, zusammenzustellen, und um weitere mit der Nutzung unserer Internetseite in Verbindung stehende Dienstleistungen zu erbringen.<br>
Google Analytics setzt ein Cookie auf dem informationstechnologischen System der betroffenen Person. Was Cookies sind, wurde oben bereits erläutert. Mit Setzung des Cookies wird Google eine Analyse der Benutzung unserer Internetseite ermöglicht. Durch jeden Aufruf einer der Einzelseiten dieser Internetseite, die durch den für die Verarbeitung Verantwortlichen betrieben wird und auf welcher eine Google-Analytics-Komponente integriert wurde, wird der Internetbrowser auf dem informationstechnologischen System der betroffenen Person automatisch durch die jeweilige Google-Analytics-Komponente veranlasst, Daten zum Zwecke der Online-Analyse an Google zu übermitteln. Im Rahmen dieses technischen Verfahrens erhält Google Kenntnis über personenbezogene Daten, wie der IP-Adresse der betroffenen Person, die Google unter anderem dazu dienen, die Herkunft der Besucher und Klicks nachzuvollziehen und in der Folge Provisionsabrechnungen zu ermöglichen.<br>
Mittels des Cookies werden personenbezogene Informationen, beispielsweise die Zugriffszeit, der Ort, von welchem ein Zugriff ausging und die Häufigkeit der Besuche unserer Internetseite durch die betroffene Person, gespeichert. Bei jedem Besuch unserer Internetseiten werden diese personenbezogenen Daten, einschließlich der IP-Adresse des von der betroffenen Person genutzten Internetanschlusses, an Google in den Vereinigten Staaten von Amerika übertragen. Diese personenbezogenen Daten werden durch Google in den Vereinigten Staaten von Amerika gespeichert. Google gibt diese über das technische Verfahren erhobenen personenbezogenen Daten unter Umständen an Dritte weiter.<br>
Die betroffene Person kann die Setzung von Cookies durch unsere Internetseite, wie oben bereits dargestellt, jederzeit mittels einer entsprechenden Einstellung des genutzten Internetbrowsers verhindern und damit der Setzung von Cookies dauerhaft widersprechen. Eine solche Einstellung des genutzten Internetbrowsers würde auch verhindern, dass Google ein Cookie auf dem informationstechnologischen System der betroffenen Person setzt. Zudem kann ein von Google Analytics bereits gesetzter Cookie jederzeit über den Internetbrowser oder andere Softwareprogramme gelöscht werden.<br>
Ferner besteht für die betroffene Person die Möglichkeit, einer Erfassung der durch Google Analytics erzeugten, auf eine Nutzung dieser Internetseite bezogenen Daten sowie der Verarbeitung dieser Daten durch Google zu widersprechen und eine solche zu verhindern. Hierzu muss die betroffene Person ein Browser-Add-On unter dem Link https://tools.google.com/dlpage/gaoptout herunterladen und installieren. Dieses Browser-Add-On teilt Google Analytics über JavaScript mit, dass keine Daten und Informationen zu den Besuchen von Internetseiten an Google Analytics übermittelt werden dürfen. Die Installation des Browser-Add-Ons wird von Google als Widerspruch gewertet. Wird das informationstechnologische System der betroffenen Person zu einem späteren Zeitpunkt gelöscht, formatiert oder neu installiert, muss durch die betroffene Person eine erneute Installation des Browser-Add-Ons erfolgen, um Google Analytics zu deaktivieren. Sofern das Browser-Add-On durch die betroffene Person oder einer anderen Person, die ihrem Machtbereich zuzurechnen ist, deinstalliert oder deaktiviert wird, besteht die Möglichkeit der Neuinstallation oder der erneuten Aktivierung des Browser-Add-Ons.<br>
Weitere Informationen und die geltenden Datenschutzbestimmungen von Google können unter <a href="https://www.google.de/intl/de/policies/privacy/" target="_blank" rel="noopener">https://www.google.de/intl/de/policies/privacy/</a> und unter <a href="http://www.google.com/analytics/terms/de.html" target="_blank" rel="noopener">http://www.google.com/analytics/terms/de.html</a> abgerufen werden. Google Analytics wird unter diesem Link <a href="https://www.google.com/intl/de_de/analytics/" target="_blank" rel="noopener">https://www.google.com/intl/de_de/analytics/</a> genauer erläutert.</p>
</div>
</div>
</div></div></div></div></div>

  </div>

	<div class="slider-container">
  <ul class="slider-images">
    <li class="slider-image active-slide" style="background-color: rgb(26, 51, 100);">
      <div class="slider-content">
        <p style="text-align: center;  ">
          <a href="https://son.ddev.site/" style="color:indianred; font-weight: bold;">Über uns</a>
        </p>
        <p style="text-align: center; color:indianred;">Gabriela Dresel</p>
      </div>
    </li>
  </ul>
</div>

  <footer class="footer">

    <div class="content-columnbir centered">

      <p>Copyright 2023 hamburg-mpu Corp. Alle Rechte vorbehalten.</p>

    </div>
  </footer>

  <script src="{{ siteUrl }}static/js/scripts.js"></script>
</div>
<footer id="colophon" class="site-footer">
  <div class="wrap">
    <aside class="widget-area" aria-label="Footer">
      <div class="widget-column footer-widget-1">
        <section id="nav_menu-2" class="widget widget_nav_menu">
          <h2 class="widget-title">Informationen</h2>
          <nav class="menu-footer1-container" aria-label="Informationen">
            <ul id="menu-footer1" class="menu">
              <li id="menu-item-1826" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1187 current_page_item menu-item-1826">
                <a href="https://son.ddev.site/" aria-current="page">Home</a>
              </li>
              <li id="menu-item-1252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1252">
                <a href="https://hamburg-mpu.com/ueber-uns/">Über uns</a>
              </li>
              <li id="menu-item-1253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1253">
                <a href="https://son.ddev.site/leistungen/leistungen">Leistungen</a>
              </li>
              <li id="menu-item-1249" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1249">
                <a href="https://son.ddev.site/faq/h%C3%A4ufige-fragen">FAQ</a>
              </li>
              <li id="menu-item-1250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1250">
                <a href="https://son.ddev.site/sperrfrist/spsperrfrist?x-craft-preview=ZahEmXsCEp&amp;token=ZeGR584cYTCodMIgiiw5YrMFEhUEXY_-">Sperrfrist</a>
              </li>
              <li id="menu-item-1254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1254">
                <a href="https://son.ddev.site/admin/entries/kosten/65-kosten?draftId=27">Kosten</a>
              </li>
              <li id="menu-item-1801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1801">
                <a href="https://hamburg-mpu.com/kontakt-anfahrt/">Anfahrt</a>
              </li>
              <li id="menu-item-1846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1846">
                <a href="https://son.ddev.site/kontakt/kontakt">Kontakt</a>
              </li>
              <li id="menu-item-2149" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2149">
                <a href="https://son.ddev.site/blog/blog">Blog</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
      <div class="widget-column footer-widget-2">
        <section id="nav_menu-3" class="widget widget_nav_menu">
          <h2 class="widget-title">Rechtliches</h2>
          <nav class="menu-footer2-container" aria-label="Rechtliches">
            <ul id="menu-footer2" class="menu">
              <li id="menu-item-1342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-1342">
                <a rel="privacy-policy" href="https://hamburg-mpu.com/datenschutz/">Datenschutz</a>
              </li>
              <li id="menu-item-1341" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1341">
                <a href="https://hamburg-mpu.com/impressum/">Impressum</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
    </aside>
  </div>
</footer>

</body>
</html>





