<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://son.ddev.site/">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="apple-touch-icon" sizes="76x76" href="{{ siteUrl }}assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="{{ siteUrl }}assets/img/favicon.png">

<title>
  
hamburg-mpu
Ihr Partner bei der MPU-Vorbereitung in Hamburg
  
</title>




<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

<!-- Nucleo Icons -->
<link href="{{ siteUrl }}assets/css/nucleo-icons.css" rel="stylesheet" />
<link href="{{ siteUrl }}assets/css/nucleo-svg.css" rel="stylesheet" />

<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

<!-- CSS Files -->



<link id="pagestyle" href="{{ siteUrl }}assets/css/material-kit.css?v=3.0.4" rel="stylesheet" />





<!-- Nepcha Analytics (nepcha.com) -->
<!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
<script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>

<body class="index-page bg-gray-200">
  
  
  <!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0"><div class="row"><div class="col-12">
<nav class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
  <div class="container-fluid px-0">
    <a class="navbar-brand font-weight-bolder ms-sm-3" href="https://son.ddev.site/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
      Hamburg-mpu
    </a>
    </div>
    
    
    

        </ul>
        <div class="menu-primary-containerbir"><ul id="top-menu" class="menubir"><li id="menu-item-1011" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1011"><a href="https://son.ddev.site/uber-uns/uber-uns">Überuns</a></li>
    <li id="menu-item-1012" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1012"><a href="https://son.ddev.site/leistungen/leistungen">Leistungen</a></li>
    <li id="menu-item-1047" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1047"><a href="https://son.ddev.site/faq/h%C3%A4ufige-fragen">FAQ</a></li>
    <li id="menu-item-1024" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1024"><a href="https://son.ddev.site/sperrfrist/spsperrfrist">Sperrfrist</a></li>
    <li id="menu-item-989" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-989"><a href="https://son.ddev.site/kosten/kosten?x-craft-preview=yi5XnEiUeV&token=rs4MU3TUYKW8BQ9kp_wwWKWB66D4sXEs">Kosten</a></li>
    <li id="menu-item-1892" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1892"><a href="https://son.ddev.site/kontakt/kontakt">Kontakt</a></li>
    <li id="menu-item-2204" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2204"><a href="https://son.ddev.site/blog/blog">Blog</a></li>
</ul></div>
        
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
</div></div></div>


<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('https://hamburg-mpu.com/wp-content/uploads/2021/01/Fragezeichen-Stein-geralt.png')">
    <span class="mask bg-gradient-primary opacity-4"></span>
    <div class="container">
      <div class="row">
        
      </div>
    </div>
  </div>
</header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

<div id="pg-1034-1" class="panel-grid panel-no-style"><div id="pgc-1034-1-0" class="panel-grid-cell"><div id="panel-1034-1-0-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="1"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<h2><strong><span style="color: #1a3364;">Häufige Fragen</span></strong></h2>
							<h3 style="margin-bottom:20px;display:block;width:100%;margin-top:10px"> </h3>
						<style>
				<style>
#wpsm_accordion_1052 .wpsm_panel-heading{
	padding:0px !important;
}
#wpsm_accordion_1052 .wpsm_panel-title {
	margin:0px !important; 
	text-transform:none !important;
	line-height: 1 !important;
}
#wpsm_accordion_1052 .wpsm_panel-title a{
	text-decoration:none;
	overflow:hidden;
	display:block;
	padding:0px;
	font-size: 16px !important;
	font-family: Tahoma !important;
	color:#2085c9 !important;
	border-bottom:0px !important;
}

#wpsm_accordion_1052 .wpsm_panel-title a:focus {
outline: 0px !important;
}

#wpsm_accordion_1052 .wpsm_panel-title a:hover, #wpsm_accordion_1052 .wpsm_panel-title a:focus {
	color:#2085c9 !important;
}
#wpsm_accordion_1052 .acc-a{
	color: #2085c9 !important;
	background-color:#ffffff !important;
	border-color: #ddd;
}
#wpsm_accordion_1052 .wpsm_panel-default > .wpsm_panel-heading{
	color: #2085c9 !important;
	background-color: #ffffff !important;
	border-color: #ffffff !important;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
#wpsm_accordion_1052 .wpsm_panel-default {
		border:1px solid transparent !important;
	}
#wpsm_accordion_1052 {
	margin-bottom: 20px;
	overflow: hidden;
	float: none;
	width: 100%;
	display: block;
}
#wpsm_accordion_1052 .ac_title_class{
	display: block;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 15px;
	padding-right: 15px;
}
#wpsm_accordion_1052  .wpsm_panel {
	overflow:hidden;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
	box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
		border-radius: 4px;
	}
#wpsm_accordion_1052  .wpsm_panel + .wpsm_panel {
		margin-top: 5px;
	}
#wpsm_accordion_1052  .wpsm_panel-body{
	background-color:#ffffff !important;
	color:#8e8e8e !important;
	border-top-color: #ffffff !important;
	font-size:16px !important;
	font-family: Tahoma !important;
	overflow: hidden;
		border: 2px solid #ffffff !important;
	}

#wpsm_accordion_1052 .ac_open_cl_icon{
	background-color:#ffffff !important;
	color: #2085c9 !important;
	float:left !important;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	line-height: 1.0 !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	display: inline-block !important;
}

			 #wpsm_accordion_1052 .wpsm_panel-heading {
				background-image: url(https://hamburg-mpu.com/wp-content/plugins/responsive-accordion-and-collapse/img/style-soft.png);
				background-position: 0 0;
				background-repeat: repeat-x;
			}
			#wpsm_accordion_1052 .ac_open_cl_icon{
				background-image: url(https://hamburg-mpu.com/wp-content/plugins/responsive-accordion-and-collapse/img/style-soft.png);
				background-position: 0 0;
				background-repeat: repeat-x;
			}
			</style>	
			
			<div class="wpsm_panel-group" id="wpsm_accordion_1052">
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse1" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Wozu überhaupt eine MPU?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse1" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Eine MPU wird von der zuständigen Fahrerlaubnisbehörde angeordnet, um Fragen im Zusammenhang mit der Fahreignung abzuklären. 

Dies ist i.d.R. der Fall, wenn die Fahrerlaubnis wegen zu vieler Punkte, Fahren unter erheblichem Alkoholeinfluss oder Drogeneinfluss entzogen wurde. 

Eine MPU kann auch angeordnet werden, wenn es um Fragen der Personenbeförderung geht oder dem Gebrauch von Medizinalcannabis. Die Fragestellung des Gutachtens wird von der Fahrerlaubnisbehörde festgelegt und ergibt sich aus den Sachverhalten, die zu den Zweifeln an der Fahreignung geführt haben. 

Die Fahrerlaubnisbehörde kann auch mehrere Fragestellungen festlegen.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse2" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Was muss ich tun, um eine MPU zu machen?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse2" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Zunächst muss bei der Fahrerlaubnisbehörde ein Antrag auf Neuerteilung der Fahrerlaubnis gestellt werden. Die Behörde informiert darüber, ob und aus welchem Grund (behördliche Fragestellung) eine MPU angeordnet wird. Sie als Kunde entscheiden, bei welcher Beratungsstelle Sie die MPU machen möchten. Besprechen Sie dies mit Ihrem Berater oder besuchen Sie einen Informationsabend bei dem Anbieter Ihrer Wahl und der Konkurrenz. So können Sie einen ersten Eindruck gewinnen und Fragen stellen. Nachdem Ihre Akte bei der Begutachtungsstelle eingegangen ist, kann ein Termin vereinbart werden, vorher ist dies i.d.R. nicht möglich.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse3" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Was kostet eine MPU?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse3" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Seit 2018 sind die Gebühren nicht mehr verbindlich geregelt und können von Begutachtungsstelle zu Begutachtungsstelle variieren, i.d.R. unterscheiden sich die Entgelte jedoch nicht erheblich. Wir empfehlen, die Wahl einer Begutachtungsstelle nicht in erster Linie am Preis festzumachen. Lassen Sie sich beraten und beziehen Ihren Bauch bei der Entscheidung mit ein.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse4" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Wie läuft die MPU ab?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse4" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Die MPU besteht aus drei Teilen, welche nicht in einer bestimmten Reihenfolge ablaufen. Der ausführlichste Teil ist das psychologische Gespräch, welches rund 45-60 Minuten dauert. Oft wird das Gespräch vom Gutachter direkt mitgeschrieben. Bei einigen Begutachtungsstellen ist es möglich, die Mitschrift am Ende des Gesprächs gegenzulesen, andere Stelle bieten einen Bandmitschnitt an, den man heranziehen kann, sollte es nach Erstellung des Gutachtens Klärungsbedarf geben.
Die medizinische Untersuchung ähnelt einem Check-up beim Arzt. Ihr Blutdruck wird gemessen, Sie werden nach Ihrer medizinischen Vorgeschichte und Ihrem Konsumverhalten befragt. Bei einer Alkoholfragestellung wird Ihnen Blut abgenommen, bei einer Drogenfragestellung werden Sie gebeten Urin abzugeben.
Je nach Begutachtungsstelle und Führerscheinklasse, die der Kunde beantragt, werden zwei oder drei Leistungstests durchgeführt, welche stets mit einer Erklärungs- und Übungsphase eingeleitet werden. Spezielle Computerkenntnisse sind nicht nötig. Sollten die Testergebnisse wider Erwarten nicht ausreichend sein, wird mittels einer Fahrverhaltensbeobachtung (praktisches Fahren in einem Fahrschulwagen) geprüft, ob die Eignung zum Führen von Kraftfahrzeugen gegeben ist.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse5" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Wie lange dauert eine MPU?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse5" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Sie sollten sich möglichst für den Tag der MPU keine weiteren Termine vornehmen, so dass Sie sich selbst nicht unter Zeitdruck bringen. Planen Sie rund 3-4 Stunden ein, da es zwischen den einzelnen Stationen (psychologisches Gespräch, medizinische Untersuchung, Leistungstest am Computer) zu Wartezeiten kommen kann. Die Erfahrung hat gezeigt, je früher am Tag der Termin liegt, desto schneller geht es in der Regel.</div> 						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse6" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Was ist die Voraussetzung zum Bestehen der MPU?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse6" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Die in der Fahrerlaubnisverordnung (FeV) festgelegten Beurteilungskriterien für die Fahreignung müssen erfüllt werden. Eine kompetente MPU-Vorbereitung ist angelehnt an Ihre persönliche Geschichte und orientiert sich darüber hinaus an den Voraussetzungen zum Führen von Kraftfahrzeugen. Ziel einer MPU-Vorbereitung ist, Sie darin zu unterstützen zu ergründen, warum es in der Vergangenheit zu dem problematischen Verhalten (erhöhter Alkoholkonsum, Drogenkonsum, wiederholte Verkehrsverstöße, straffälliges Verhalten) kommen konnte, so dass Sie nicht nur ausreichend auf die MPU vorbereitet sind, sondern auch langfristig Ihr Verhalten ändern können. Denn es ist Ihnen ja nicht damit gedient die Fahrerlaubnis lediglich schnell wieder zu erlangen, sondern sie danach auch dauerhaft zu behalten. Unser Ziel ist es, Sie in angemessener Zeit auf die MPU vorzubereiten. Eine „Hilfe über Nacht“ gibt es nicht, auch ist es nicht sinnvoll, alles an einem Tag abhandeln zu wollen, da Veränderungsprozesse bekanntlich Zeit benötigen.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse7" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Wie wird die Qualität der MPU sichergestellt?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse7" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Um die Qualität zu gewährleisen, werden Begutachtungsstellen einer regelmäßigen Überprüfung durch die Bundesanstalt für Straßenwesen (BaST) unterzogen. Die Begutachtungsstellen müssen gegenüber der BaST nachweisen, dass sie die rechtlich verbindlichen Richtlinien für die Anerkennung von Begutachtungsstellen einhalten.
Bei der Erstellung ihrer Gutachten legen die Gutachter die Begutachtungsleitlinien zur Kraftfahreignung - die vom Bundesministerium für Verkehr herausgegeben werden -&nbsp;und die Beurteilungskriterien, herausgegeben von der Deutschen Gesellschaft für Verkehrsmedizin (DGVM) und der Deutschen Gesellschaft für Verkehrspsychologie (DGVP), zugrunde.
In den Beurteilungskriterien wird festgelegt, welche Befunde der Gutachter bei welcher Fragestellung erheben muss, welche Methoden angewendet werden und wie die Ergebnisse im Kontext der Vorgeschichte interpretieren werden. Die Gutachter sind ausgebildete Fachleute. Bevor ein Arzt oder Psychologe als Gutachter eingesetzt werden kann, muss er nicht nur ein Hochschulstudium absolvieren und abschließen, er braucht zusätzlich auch Berufserfahrung und muss noch ein Jahr in die Fahreignungsbegutachtung eingearbeitet werden. Seine Qualifikation muss er durch regelmäßige Weiterbildungen aufrechterhalten.</div> 						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse8" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Warum Beratung?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse8" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Für den Laien, und das ist eigentlich Jeder, der erstmals eine MPU machen muss, ist es schwierig bis unmöglich, die vielen Anforderungen zu ergründen, welche erfüllt sein müssen, um eine MPU zu bestehen. Die Fahrerlaubnisbehörde darf von Gesetzes wegen nur in sehr geringem Umfang Informationen geben, im Internet tummeln sich viele unseriöse Anbieter, welche durch Angstmacherei viel Geld verdienen wollen. Eine seriöse Beratung wird es Ihnen ermöglichen, die Anforderungen, welche von Ihnen erfüllt sein müssen, abzuklären, und Sie in strukturierter Weise Ihrem Ziel nahe zu bringen. Die durch den Beratungsprozess gewonnene Selbsterkenntnis ermöglicht Ihnen, Ihre Einstellungen und Ihr Verhalten so zu verändern, dass Sie nicht nur die Fahrerlaubnis wiedererlangen werden, sondern Ihr Leben grundsätzlich und nachhaltig zum Positiven verändern können.
Eine im Jahr 2012 durchgeführte Studie der Bundesanstalt für Straßenwesen (BASt) besagt, dass „verkehrsauffällig gewordene Kraftfahrer, die sich frühzeitig einer adäquaten Beratung unterziehen, früher wieder mobil sind. Oftmals werden die bestehenden Angebote zur Förderung der Kraftfahrereignung jedoch zu spät genutzt.“</div> 						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse9" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Wie erkennt man eine seriöse Vorbereitung?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse9" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Die Qualifikation eines Beraters kann schon ein guter Hinweis auf die Seriosität sein. Wie in jeder anderen Branche auch, tummeln sich auch in der MPU-Vorbereitung schwarze Schafe. Unsere Empfehlung ist, nicht nur mit dem Ohr, sondern auch mit dem Bauch zu telefonieren. Wenn Sie ein ungutes Gefühl haben, ist es vermutlich nicht der richtige Berater/ die richtige Beraterin für Sie. Zu Vorsicht ist zu raten bei Versprechungen wie „100prozentiger Erfolg“ oder ähnlichem. Dies kann niemand garantieren und ist unseriös. Ein kompetenter Vorbereiter ist mit den geltenden Beurteilungskriterien vertraut und animiert sie nicht „Geschichten“ auswendig zu lernen, die den Gutachter überzeuge sollen.</div> 						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse10" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Muss man einen MPU-Vorbereitungskurs machen?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse10" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Die Erfahrung hat gezeigt, dass es i.d.R. schwer ist eine MPU zu bestehen, ohne sich fachlich vorbereitet zu haben. Lassen Sie sich so früh wie möglich nach dem Entzug der Fahrerlaubnis beraten. In der Beratung erfahren Sie, welche die für Sie richtigen Schritte sind, ob ggf. Abstinenz und damit einhergehend Abstinenznachweise nötig sind.</div> 						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse11" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Wann bin ich fit für die MPU?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse11" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Fit für die MPU sind Sie, wenn Sie Strategien erlernt und in Ihr Leben integriert haben, welche eine erneute Auffälligkeit unwahrscheinlich machen. Dazu ist es unerlässlich, sich selbst zu (er)kennen, zu regulieren und um die Hintergründe zu wissen. Solange Sie die Schuld noch bei anderen sehen und/ oder suchen, wird es Ihnen nicht möglich sein, wirkliche Veränderungen vorzunehmen. Solange Sie nicht bereit sind, bei einer MPU offen und ehrlich zu sein, sparen Sie das Geld besser!
Wenn Sie über Ihre Fehler sprechen können und eine Strategie zur Vermeidung weiterer Auffälligkeit für die Zukunft haben, sich im Klaren darüber sind, zukünftig keine Drogen mehr konsumieren zu wollen bzw. bereit sind nicht Ihre eigenen Interessen im Straßenverkehr zu verfolgen, ist es an der Zeit einen Termin für die MPU zu machen, vorausgesetzt, sie haben die nötigen Abstinenznachweise.
Dies scheinen für Sie derzeit noch schwer erreichbare Ziele zu sein? Machen Sie sich auf den Weg, es ist nicht so schwer, wie Sie denken.</div> 						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse12" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Haben alle Begutachtungsstellen dieselben Anforderungen für ein positives Gutachten?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse12" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Begutachtungsstellen müssen akkreditiert sein und legen bei der Begutachtung und Erstellung der Gutachten die Begutachtungsleitlinien zur Kraftfahreignung (die von der Bundesanstalt&nbsp;für Straßenwesen herausgegeben werden) und die Beurteilungskriterien (3. Auflage; herausgegeben von der Deutschen Gesellschaft für Verkehrsmedizin (DGVM) und der Deutschen Gesellschaft für Verkehrspsychologie (DGVP)), zugrunde.</div> 						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse13" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Soll man beim Psychologen die Wahrheit sagen?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse13" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Unsere Empfehlung ist ein klares JA! Die Erfahrung hat gezeigt, dass sich Unwahrheiten während eines Gesprächs nicht konsequent durchhalten lassen, es zu Widersprüchen kommt, welche am Ende nicht befriedigend aufzuklären sind. Die Beurteilungskriterien legen fest, dass keine günstige Prognose gegeben werden darf, wenn die Angaben des Kunden nicht nachvollziehbar sind. Im psychologischen Gespräch geht es darum zu zeigen, dass Sie Ihr Fehlverhalten erkannt und die Ursachen (äußere und persönliche Gründe), die dazu geführt haben, ausreichend verändert haben. Wenn der Gutachter Ihr Verhalten nicht nachvollziehen kann, ist es ihm unmöglich zu einer günstigen Prognose zu kommen. Seien Sie offen. Sollten Sie sich nicht verändert haben, ist der Zeitpunkt für eine MPU noch nicht gekommen. Sollten Sie sich geändert haben, wird es Ihnen nicht schwerfallen, Ihre Veränderungen und gemachten Erfahrung zu schildern.
Machen Sie sich bewusst, dass der Gutachter ein Fachmann ist, der bereits Hunderte von Begutachtungen durchgeführt hat. Er hat vermutlich alle Ausreden und Geschichten viele Male gehört. Die beste und einzige reelle Chance auf eine positive MPU haben Sie, wenn sie sich selbstkritisch auseinandergesetzt haben und darüber offen und nachvollziehbar berichten können.</div> 						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse14" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Gibt es Psychotricks bei der MPU?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse14" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Der Gutachter wird Ihnen keine Fallen stellen und arbeitet auch nicht mit versteckten „Psycho-Tricks“. Seit vielen Jahren gilt in der MPU, dass „Entlastungsdiagnostik“ betrieben wird, dies war nicht immer so. Damit ist gemeint, dass der Gutachter mit Ihrer Hilfe möglichst viele, gute Argumente zusammentragen wird, um eine günstige Prognose zu ermöglichen. Sie müssen keine Kugeln stapeln oder gar einen Kopfstand machen, auch wenn Ihnen ein vermeintlich guter Bekannter dies erzählt hat.</div> 						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse15" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Muss ich bei der MPU eine Alkohol- oder Drogenabstinenz nachweisen?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse15" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Wenn bei Ihnen eine Drogenfragestellung vorliegt ist immer ein Abstinenznachweis erforderlich. Dieser beträgt mindestens 6 ggf. 12 Monate,  abhängig von der individuellen Drogenvorgeschichte. Welcher Zeitraum bei Ihnen nötig ist, besprechen Sie am besten mit ihrem Berater. Sollten Sie sich gegen eine professionelle Vorbereitung entscheiden, kann es hilfreich sein, sich an einem Informationsabend einer Begutachtungsstelle schlau zu machen, manche Begutachtungsstellen bieten sogar eine kostenlose Abstinenzberatung an.
Bei einer Alkoholfragestellung ist nicht zwingend eine Alkoholabstinenz und damit einhergehend ein Abstinenznachweis nötig. Dies ist ebenfalls von der persönlichen Vorgeschichte (Dauer und Intensität des vermehrten Alkoholkonsums) abhängig. Ein Nachweis von einem Jahr ist erforderlich, wenn die Fähigkeit zum kontrollierten Konsum mit Alkohol nicht mehr gegeben ist bzw. eine Alkoholabhängigkeit vorliegt.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse16" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Brauche ich einen Abstinenznachweis, um die MPU zu bestehen?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse16" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Im persönlichen Gespräch mit Ihnen wird ein geschulter Vorbereiter feststellen, ob Abstinenznachweise nötig sind und ggf. über welchen Zeitraum.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse17" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Wieviel wird mich das Abstinenzkontrollprogramm kosten?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse17" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Dies ist von Begutachtungsstelle zu Begutachtungsstelle unterschiedlich, es lohnt sich also, sich diesbezüglich zu informieren. Es ist nicht notwendig, das Abstinenzprogramm dort durchzuführen wo sie später Ihre MPU machen wollen. Auch Rechtsmedizin oder Gesundheitsamt bieten Abstinenzkontrollprogramme an, erkundigen Sie sich in Ihrer Stadt. Entscheidend ist, dass die Abstinenzbelege den verbindlichen CTU-Kriterien (CTU = Chemisch Toxikologische Untersuchung) entsprechen. Klären Sie unbedingt im Vorfeld ab, ob die Befunde des Anbieters den Kriterien entsprechen.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse18" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Kann man während eines Abstinenznachweises in den Urlaub fahren?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse18" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Es ist unproblematisch während eines Abstinenzprogramms zu verreisen oder aus sonstigen Gründen „Auszeiten“ zu nehmen. Wichtig ist, dass Sie diese rechtzeitig i.d.R. mindestens drei Tage zuvor angeben. Sollten Sie dies vergessen haben, zu einem Kontrolltermin eingeladen werden und nicht erscheinen, gilt das Programm als abgebrochen.  Abhängig von der Laufzeit des Programms kann nur eine bestimme Anzahl von Fehltagen akzeptiert werden. Genaues erfahren Sie bei Abschluss des Programms.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse19" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Wie verhält es sich bei Krankheit bzw. wenn man nicht zur Kontrolle kommen kann?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse19" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Sollte beispielsweise eine Operation anstehen, können Sie diese ebenfalls vorab (i.d.R. spätestens 3 Tage vorher) anmelden. Sollten Sie spontan erkrankt sein, reichen Sie ein Attest von Ihrem behandelnden Arzt ein. Entscheidend ist hierbei, dass eine „Reiseunfähigkeit“ vorliegt, auch muss der Zeitraum der Erkrankung benannt sein.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse20" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Kann man die Kontrollen auch bei seinem Arzt machen lassen?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse20" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Davon raten wir ab. Es gibt einige wenige Ärzte, welche ausreichende Kenntnis über die erforderlichen Anforderungen haben, jedoch ist dies oft nicht der Fall. Nach Anlage 4a der Fahrerlaubnis-Verordnung ist ausdrücklich geregelt, dass Ihr behandelnder Arzt nicht gleichzeitig ein Kontrollprogramm mit seinem Patienten durchführen darf.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse21" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Kann eine Alkoholabstinenz auch mit Leberwerten nachgewiesen werden?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse21" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Durch unauffällige Leberwerte kann eine Alkoholabstinenz i.d.R. nicht ausreichend belegt werden, da auch ein anhaltender missbräuchlicher Alkoholkonsum nicht zwingend zu erhöhten Leberwerten führt.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse22" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Muss ich nüchtern kommen und eine Urin-/Blutprobe abgeben?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse22" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Wir empfehlen, vor einer MPU ausreichend gegessen und getrunken zu haben, so dass Sie sich gestärkt und fit fühlen. Es ist wichtig, dass Sie sich konzentrieren und gut mitarbeiten können. Vom Arzt wird Ihnen bei einer Alkoholfragestellung Blut abgenommen, bei einer Drogenfragestellung müssen Sie - unter Sicht - eine Urinprobe abgeben. Dies ist Standardprocedere bei der Untersuchung und unabhängig davon, ob Sie Abstinenznachweise gemacht haben oder nicht.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse23" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Was ist der Unterschied zwischen Haaranalysen und Urinkontrollen?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse23" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Beide Nachweismethoden sind bei den Begutachtungsstellen gleichermaßen anerkannt. Je nach persönlicher Vorliebe und/ oder Geldbeutel ist es sinnvoll, sich für die eine oder andere Methode zu entscheiden. Bei Urinkontrollen erfolgen über einen vereinbarten Vertragszeitraum strichproben-artig Urinkontrollen, d.h. in unregelmäßigen Abständen, kurzfristig angekündigte Urinkontrollen, welche unter Sichtkontrolle abgegeben werden. Ein Verzicht kann somit nur für einen zukünftigen Zeitraum belegt werden. Mittels einer Haaranalyse ist es möglich, auch rückwirkend (6 Monate bei Drogen mit 6 cm Haarlänge bzw. 3 Monate bei Alkohol mit 3 cm Haarlänge) nachzuweisen. Bei einem Drogenabstinenznachweis über einen Zeitraum von 12 Monaten sind somit zwei Haaranalysen erforderlich, bei einem Nachweis von Alkoholabstinenz über denselben Zeitraum 4 Haaranalysen. Da Alkohol wasserlöslich ist und sich aus den Haaren herauswäscht, sind Haaranalysen lediglich über einen Zeitraum von jeweils 3 Monaten (3 cm) möglich. Haaranalysen und Urinkontrollprogramme können selbstverständlich auch kombiniert werden.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse24" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Was tun bei Prüfungsangst?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse24" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Wir empfehlen, dies zu Beginn des psychologischen Gesprächs deutlich zu machen. Es reicht in so einem Fall nicht aus mitzuteilen, dass Sie nervös sind, das ist jeder Kunde! Gutachter haben Erfahrung und wissen, dass es bei Kunden mit echter Prüfungsangst während eines Gesprächs zu einem Blackout kommen kann, der Kunde plötzlich gar nichts mehr weiß.
Die Erfahrung hat gezeigt, dass die Erfahrungen, die der Betroffene in der Vergangenheit mit seiner Prüfungsangst gemacht hat, nicht selten zu dem späteren unangemessenen Verhalten, welches zur MPU führte, beigetragen hat.
In einer guten Vorbereitung werden alte Prüfungsmisserfolge aufgearbeitet, aber auch Kraft aus bereits erzielten Erfolgen geschöpft. Es gibt faktisch einfache Mittel und Wege der Angst so Herr zu werden, dass Sie die MPU erfolgreich „durchstehen“ können!</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse25" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Welche Fragebögen bekomme ich?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse25" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Die Fragebögen unterscheiden sich geringfügig bei den unterschiedlichen Beratungsstellen. Es geht jedoch immer um die Themen lebensgeschichtliche Daten, beruflicher Werdegang, Therapieerfahrungen in der Vergangenheit, medizinische Vorgeschichte, Vorbereitung auf die MPU.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse26" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Kann ich einen eigenen Dolmetscher mitbringen?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse26" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Um sich bei der MPU ausreichend zu verständigen, reichen üblicherweise alltagstaugliche Sprachkenntnisse aus. Sollten Sie unsicher sein, können Sie Ihr Sprachverständnis an einem Informationsabend bei einer Begutachtungsstelle überprüfen und ggf. den Psychologen vor Ort um Rat fragen. Sollten Sie einen Dolmetscher benötigen, muss es ein vereidigten Dolmetscher sein. Informieren Sie die Begutachtungsstelle bei der Terminvergabe rechtzeitig, man wird zum Termin einen Dolmetscher für Sie bestellen. Die Kosten hierfür liegen bei rund 250-300.- Euro.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse27" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Bekomme ich das Gutachten direkt mit, bzw. wie lange dauert meine Gutachtenerstellung?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse27" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Bei vielen Begutachtungsstellen erhalten Sie vom Psychologen am Ende des Gesprächs bzw. am Ende der Untersuchung eine „Sachstandsmitteilung“, d.h. eine vorläufige Einschätzung. Die Frist für die Gutachtenerstellung beträgt 10 Werktage nach Eingang des letzten Befunds (oftmals Laborwerte, ggf. Unterlagen, die der Kunde noch nachreicht).</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse28" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Wird ein Gutachten automatisch an die Fahrerlaubnisbehörde versandt?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse28" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Das Gutachten (2 Exemplare) wird i.d.R. an Sie versendet, es sei denn, Sie haben dies mit der Begutachtungsstelle ausdrücklich (schriftlich) anders vereinbart. Die Gutachtenzweitschrift ist zur Vorlage bei der Fahrerlaubnisbehörde gedacht.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse29" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Was muss ich tun, wenn ich eine Kursempfehlung erhalten habe?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse29" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Auch in diesem Fall geben Sie das Gutachten bei der Fahrerlaubnisbehörde ab. Auf keinen Fall sollten Sie sich zu einem Kurs anmelden oder diesen gar besuchen, solange Sie nicht das Einverständnis der Behörde haben. In einem Gutachten wird lediglich eine „Empfehlung“ ausgesprochen, an der sich die Fahrerlaubnisbehörde orientiert und in der Mehrzahl der Fälle folgt Sie der Empfehlung.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse30" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Gibt es Fristen für die MPU?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse30" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Eine MPU kann frühestens drei Monate vor dem Ende der Sperrfrist durchgeführt werden. Dazu muss zuvor der Antrag bei der Fahrerlaubnisbehörde gestellt werden. Hierbei ist wichtig zu wissen, dass die Versendung der Akte von Behörde zu Behörde unterschiedlich lange dauern kann. Am besten fragen Sie bei Ihrer Behörde nach, wann der beste Zeitpunkt für Sie ist.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse31" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Was geschieht nach einer „bestandenen“ MPU?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse31" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Innerhalb von 2-3 Wochen nach der Begutachtung erhalten Sie das Gutachten in zweifacher Ausführung, die Gutachtenzweitschrift ist zur Vorlage bei der Behörde gedacht.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse32" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									MPU nicht bestanden – was jetzt?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse32" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Unabhängig davon, ob Sie vor der MPU Vorbereitung in Anspruch genommen haben, ist es entscheidend eine Gutachtenanalyse vorzunehmen, um zu erkennen, an welchen Stellen es noch gehapert hat, um diese Bereiche nachzuarbeiten.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
								
					<!-- Inner panel Start -->
					<div class="wpsm_panel wpsm_panel-default">
						<div class="wpsm_panel-heading" role="tab">
						  <h4 class="wpsm_panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#wpsm_accordion_1052 " href="javascript:void(0)" data-target="#ac_1052_collapse33" onclick="do_resize()">
																	<span class="ac_open_cl_icon fa fa-plus"></span>
									
								 
								<span class="ac_title_class">
									Muss ich das Gutachten bei der Fahrerlaubnisbehörde vorlegen?								</span>
							</a>
						  </h4>
						</div>
						<div id="ac_1052_collapse33" class="wpsm_panel-collapse collapse ">
						  <div class="wpsm_panel-body">
							<div style="text-align: justify">Es gibt keine Verpflichtung das Gutachten bei der Behörde vorzulegen. Ohne eine positive Begutachtung wird Ihnen jedoch keine Fahrerlaubnis erteilt werden.</div>						  </div>
						</div>
					</div>
					<!-- Inner panel End -->
					
							</div>
			
<script type="text/javascript">
	
		function do_resize(){

			var width=jQuery( '.wpsm_panel .wpsm_panel-body iframe' ).width();
			var height=jQuery( '.wpsm_panel .wpsm_panel-body iframe' ).height();

			var toggleSize = true;
			jQuery('iframe').animate({
			    width: toggleSize ? width : 640,
			    height: toggleSize ? height : 360
			  }, 250);

			  toggleSize = !toggleSize;
		}
		
</script>	
</div>
</div></div></div></div>

  </div>

	<div class="slider-container">
  <ul class="slider-images">
    <li class="slider-image active-slide" style="background-color: rgb(26, 51, 100);">
      <div class="slider-content">
        <p style="text-align: center;  ">
          <a href="https://son.ddev.site/" style="color:indianred; font-weight: bold;">Über uns</a>
        </p>
        <p style="text-align: center; color:indianred;">Gabriela Dresel</p>
      </div>
    </li>
  </ul>
</div>

  <footer class="footer">

    <div class="content-columnbir centered">

      <p>Copyright 2023 hamburg-mpu Corp. Alle Rechte vorbehalten.</p>

    </div>
  </footer>

  <script src="{{ siteUrl }}static/js/scripts.js"></script>
</div>
<footer id="colophon" class="site-footer">
  <div class="wrap">
    <aside class="widget-area" aria-label="Footer">
      <div class="widget-column footer-widget-1">
        <section id="nav_menu-2" class="widget widget_nav_menu">
          <h2 class="widget-title">Informationen</h2>
          <nav class="menu-footer1-container" aria-label="Informationen">
            <ul id="menu-footer1" class="menu">
              <li id="menu-item-1826" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1187 current_page_item menu-item-1826">
                <a href="https://son.ddev.site/" aria-current="page">Home</a>
              </li>
              <li id="menu-item-1252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1252">
                <a href="https://hamburg-mpu.com/ueber-uns/">Über uns</a>
              </li>
              <li id="menu-item-1253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1253">
                <a href="https://son.ddev.site/leistungen/leistungen">Leistungen</a>
              </li>
              <li id="menu-item-1249" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1249">
                <a href="https://son.ddev.site/faq/h%C3%A4ufige-fragen">FAQ</a>
              </li>
              <li id="menu-item-1250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1250">
                <a href="https://son.ddev.site/sperrfrist/spsperrfrist?x-craft-preview=ZahEmXsCEp&amp;token=ZeGR584cYTCodMIgiiw5YrMFEhUEXY_-">Sperrfrist</a>
              </li>
              <li id="menu-item-1254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1254">
                <a href="https://son.ddev.site/admin/entries/kosten/65-kosten?draftId=27">Kosten</a>
              </li>
              <li id="menu-item-1801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1801">
                <a href="https://hamburg-mpu.com/kontakt-anfahrt/">Anfahrt</a>
              </li>
              <li id="menu-item-1846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1846">
                <a href="https://son.ddev.site/kontakt/kontakt">Kontakt</a>
              </li>
              <li id="menu-item-2149" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2149">
                <a href="https://son.ddev.site/blog/blog">Blog</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
      <div class="widget-column footer-widget-2">
        <section id="nav_menu-3" class="widget widget_nav_menu">
          <h2 class="widget-title">Rechtliches</h2>
          <nav class="menu-footer2-container" aria-label="Rechtliches">
            <ul id="menu-footer2" class="menu">
              <li id="menu-item-1342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-1342">
                <a rel="privacy-policy" href="https://hamburg-mpu.com/datenschutz/">Datenschutz</a>
              </li>
              <li id="menu-item-1341" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1341">
                <a href="https://hamburg-mpu.com/impressum/">Impressum</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
    </aside>
  </div>
</footer>

</body>
</html>





