<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://son.ddev.site/">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="apple-touch-icon" sizes="76x76" href="{{ siteUrl }}assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="{{ siteUrl }}assets/img/favicon.png">

<title>
  
hamburg-mpu
Ihr Partner bei der MPU-Vorbereitung in Hamburg
  
</title>




<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

<!-- Nucleo Icons -->
<link href="{{ siteUrl }}assets/css/nucleo-icons.css" rel="stylesheet" />
<link href="{{ siteUrl }}assets/css/nucleo-svg.css" rel="stylesheet" />

<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

<!-- CSS Files -->



<link id="pagestyle" href="{{ siteUrl }}assets/css/material-kit.css?v=3.0.4" rel="stylesheet" />





<!-- Nepcha Analytics (nepcha.com) -->
<!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
<script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>

<body class="index-page bg-gray-200">
  
  
  <!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0"><div class="row"><div class="col-12">
<nav class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
  <div class="container-fluid px-0">
    <a class="navbar-brand font-weight-bolder ms-sm-3" href="https://son.ddev.site/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
      Hamburg-mpu
    </a>
    </div>
    
    
    

        </ul>
        <div class="menu-primary-containerbir"><ul id="top-menu" class="menubir"><li id="menu-item-1011" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1011"><a href="https://son.ddev.site/uber-uns/uber-uns">Überuns</a></li>
    <li id="menu-item-1012" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1012"><a href="https://son.ddev.site/leistungen/leistungen">Leistungen</a></li>
    <li id="menu-item-1047" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1047"><a href="https://son.ddev.site/faq/h%C3%A4ufige-fragen">FAQ</a></li>
    <li id="menu-item-1024" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1024"><a href="https://son.ddev.site/sperrfrist/spsperrfrist">Sperrfrist</a></li>
    <li id="menu-item-989" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-989"><a href="https://son.ddev.site/kosten/kosten?x-craft-preview=yi5XnEiUeV&token=rs4MU3TUYKW8BQ9kp_wwWKWB66D4sXEs">Kosten</a></li>
    <li id="menu-item-1892" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1892"><a href="https://son.ddev.site/kontakt/kontakt">Kontakt</a></li>
    <li id="menu-item-2204" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2204"><a href="https://son.ddev.site/blog/blog">Blog</a></li>
</ul></div>
        
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
</div></div></div>


<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('https://hamburg-mpu.com/wp-content/uploads/2021/09/Ab-wann-MPU-768x427.png')">
    <span class="mask bg-gradient-primary opacity-4"></span>
    <div class="container">
      <div class="row">
        
      </div>
    </div>
  </div>
</header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

<div id="content" class="site-content">

<div class="wrap">
	<div id="primary" class="content-area">
		<main id="main" class="site-main">

			
<article id="post-2284" class="post-2284 post type-post status-publish format-standard hentry category-news">
		<header class="entry-header">
		<div class="entry-meta"><span class="posted-on"><span class="screen-reader-text">Veröffentlicht am</span> <a href="https://hamburg-mpu.com/elementor-2284/" rel="bookmark"><time class="entry-date published" datetime="2021-09-01T16:10:46+00:00">September 1, 2021</time><time class="updated" datetime="2021-10-20T13:38:14+00:00">Oktober 20, 2021</time></a></span><span class="byline"> von <span class="author vcard"><a class="url fn n" href="https://hamburg-mpu.com/author/river-online/">Alex Diogo</a></span></span></div><!-- .entry-meta --><h1 class="entry-title">Ab wann MPU?</h1>	</header><!-- .entry-header -->

	
	<div class="entry-content">
		<p><img decoding="async" width="525" height="292" src="https://hamburg-mpu.com/wp-content/uploads/2021/09/Ab-wann-MPU-768x427.png" alt="" loading="lazy" srcset="https://hamburg-mpu.com/wp-content/uploads/2021/09/Ab-wann-MPU-768x427.png 768w, https://hamburg-mpu.com/wp-content/uploads/2021/09/Ab-wann-MPU-300x167.png 300w, https://hamburg-mpu.com/wp-content/uploads/2021/09/Ab-wann-MPU-1024x569.png 1024w, https://hamburg-mpu.com/wp-content/uploads/2021/09/Ab-wann-MPU-1536x853.png 1536w, https://hamburg-mpu.com/wp-content/uploads/2021/09/Ab-wann-MPU-2048x1138.png 2048w" sizes="100vw">															</p>
<h1>Ab wann MPU?</h1>
<p style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: Calibri, sans-serif; color: #000000; text-align: justify;">Wenn Sie ihren Führerschein verlieren, geht bei vielen erst einmal die eigene Welt fast unter. Dies ist ein Ereignis, auf das man nicht wirklich stolz ist und im Freundeskreis wohl nicht allzu gerne darüber&nbsp;spricht – aber es passiert weitaus häufiger, als man sich das vorstellen mag. Um den Führerschein wiederzuerlangen, ist in vielen Fällen eine Medizinisch-Psychologische Untersuchung, kurz MPU, von Nöten. Im Volksmund wird diese Untersuchung auch gerne abfällig „Idiotentest“ genannt. Um diese zu bestehen, sollte man aber wahrhaftig kein Idiot sein, denn die MPU hat es teilweise wirklich&nbsp;in sich.</p>
<p style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: Calibri, sans-serif; color: #000000; text-align: justify;">Doch wann muss man MPU machen?</p>
<p><span id="more-2284"></span><br>
&nbsp;</p>
<h2>Wann MPU?</h2>
<p style="margin-right: 0cm; margin-left: 0cm;">Vorab gesagt: es ist für Niemanden Pflicht, zur Medizinisch-Psychologischen Untersuchung zu erscheinen. Dies müssen Sie nur, wenn Sie ihren Führerschein zurückerlangen möchten, Sie können sich &nbsp;auch dazu entscheiden&nbsp;für immer auf Ihre Fahrerlaubnis zu verzichten. Dann sind Sie jedoch in Zukunft permanent auf öffentliche Verkehrsmittel, das Fahrrad oder Freunde/Familie als Fahrer angewiesen – eine Entscheidung, die man&nbsp;sich sehr gut überlegen sollten.</p>
<p style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: Calibri, sans-serif; color: #000000;">Ein Grund, die Fahrerlaubnis zu verlieren, ist der Konsum von Alkohol.</p>
<p style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: Calibri, sans-serif; color: #000000;">Trunkenheit am Steuer sollte natürlich immer vermieden werden. Wer unter dem Einfluss berauschender Mittel Auto fährt, bringt sich und andere in Gefahr. Ab 0,2 Promille sind Konzentration und Sehvermögen beeinträchtigt, die Fahrtüchtigkeit ist dies nachweislich ab 0,5 Promille. &nbsp;Werden Sie mit einem Alkoholgehalt im Blut von 0,5 – 1,0 Promille erwischt, begehen Sie eine Ordnungswidrigkeit und müssen ein sattes Bußgeld zahlen, welches in einigen Fällen sogar bis zu 3.000&nbsp;Euro betragen kann. Außerdem droht dann meist ein Fahrverbot von drei Monaten sowie Punkte im Fahreignungsregister des Kraftfahrt-Bundesamts in Flensburg. Aber ab wann MPU?</p>
<h2>MPU ab wann?</h2>
<p style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: Calibri, sans-serif; color: #000000;">Die Frage „MPU ab wann?“ ist in den deutschen Gesetzestexten nicht klar definiert und teilweise sogar Auslegungssache der Beamten. Fahrer mit einem Blutalkoholgehalt von 1,1 bis 1,59 Promille werden i.d.R.&nbsp;nur dann einer MPU unterzogen, wenn sie andere Auffälligkeiten aufwiesen, wie z. B. eine Trunkenheit zur Mittagszeit.</p>
<p style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: Calibri, sans-serif; color: #000000;">Dies ist auch bei Personen der Fall, die trotz eines hohen Blutalkoholgehalts keine oder nur wenige alkoholbedingte Symptome wie Torkeln oder Lallen zeigen. Denn nach den bisherigen wissenschaftlichen Erkenntnissen ist davon auszugehen, dass die Person extrem alkoholgewöhnt ist und die Behörden davon ausgehen müssen, dass sie regelmäßig und in erheblichem Umfang trinkt und dies auch in Zukunft tun wird. „Wann muss man&nbsp;eine MPU machen“, lässt sich also zwischen 1,1 und 1,59 Promille nicht immer klar festlegen.</p>
<p style="margin-right: 0cm; margin-left: 0cm; font-size: 12pt; font-family: Calibri, sans-serif; color: #000000;">&nbsp;</p>
<h2>Wann muss man MPU machen?<br></h2>
<p style="margin-right: 0cm; margin-left: 0cm;">Deutlich klarer definiert ist die Angelegenheit jedoch ab einem Blutalkoholwert von 1,6 Promille oder mehr – in diesem Fall kann die Frage „MPU ab wann?“ nämlich klar mit jener Promillezahl beantwortet werden. Wer mit 1,6 Promille hinterm Steuer erwischt wird, kommt um eine MPU nicht herum, wenn der Führerschein zurückerlangt werden soll. Außerdem wird die Medizinisch-Psychologische Untersuchung auch dann angeordnet, wenn Sie nach dem Konsum von Drogen hinterm Steuer erwischt wurden. Hier lautet die Antwort auf die Frage „ab wann MPU?“ – ab dem ersten Joint, denn hier gibt es seitens der Polizei keine Gnade. Sie sollten ebenfalls darauf achten, dass je nach Regelmäßigkeit des Konsums THC sogar bis zu zwölf Wochen im Körper nachweisbar ist.&nbsp;Bei dem Konsum von harten Drogen reicht es bereits aus, wenn lediglich das Abbauprodukt noch im Blut nachgewiesen werden kann.<br>Zur MPU muss auch, wem die Fahrerlaubnis aufgrund von 8 Punkten oder mehr entzogen wurde. In der Probezeit kann dies auch bereits bei weniger Punkten erfolgen. In schweren Fällen kann auch bereits ein Verkehrsverstoß ausreichend sein, damit die Behörde eine MPU anordnet.</p>
<p>Wem eine MPU bevorsteht, der kann sich im Vorfeld Hilfe in Form einer <a style="color: #999999;" href="https://hamburg-mpu.com/">MPU Vorbereitung</a> holen. Hamburg MPU bietet solche Beratungskurse an.</p>
	</div><!-- .entry-content -->

	
</article><!-- #post-2284 -->

	<nav class="navigation post-navigation" aria-label="Beiträge">
		<h2 class="screen-reader-text">Beitrags-Navigation</h2>
		<div class="nav-links"><div class="nav-previous"><a href="https://son.ddev.site/mpu-gutachten-kaufen/mpu-gutachten-kaufen" rel="prev"><span class="screen-reader-text">Vorheriger Beitrag</span><span aria-hidden="true" class="nav-subtitle">Zurück</span> <span class="nav-title"><span class="nav-title-icon-wrapper"><svg class="icon icon-arrow-left" aria-hidden="true" role="img"> <use href="#icon-arrow-left" xlink:href="#icon-arrow-left"></use> </svg></span>MPU Gutachten kaufen</span></a></div></div>
	</nav>
		</main><!-- #main -->
	</div><!-- #primary -->
	
<aside id="secondary" class="widget-area" aria-label="Blog-Seitenleiste">
	<section id="block-6" class="widget widget_block">
<div class="wp-block-buttons is-layout-flex"></div>
</section></aside><!-- #secondary -->
</div><!-- .wrap -->


		</div>

  </div>

	<div class="slider-container">
  <ul class="slider-images">
    <li class="slider-image active-slide" style="background-color: rgb(26, 51, 100);">
      <div class="slider-content">
        <p style="text-align: center;  ">
          <a href="https://son.ddev.site/" style="color:indianred; font-weight: bold;">Über uns</a>
        </p>
        <p style="text-align: center; color:indianred;">Gabriela Dresel</p>
      </div>
    </li>
  </ul>
</div>

  <footer class="footer">

    <div class="content-columnbir centered">

      <p>Copyright 2023 hamburg-mpu Corp. Alle Rechte vorbehalten.</p>

    </div>
  </footer>

  <script src="{{ siteUrl }}static/js/scripts.js"></script>
</div>
<footer id="colophon" class="site-footer">
  <div class="wrap">
    <aside class="widget-area" aria-label="Footer">
      <div class="widget-column footer-widget-1">
        <section id="nav_menu-2" class="widget widget_nav_menu">
          <h2 class="widget-title">Informationen</h2>
          <nav class="menu-footer1-container" aria-label="Informationen">
            <ul id="menu-footer1" class="menu">
              <li id="menu-item-1826" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1187 current_page_item menu-item-1826">
                <a href="https://son.ddev.site/" aria-current="page">Home</a>
              </li>
              <li id="menu-item-1252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1252">
                <a href="https://hamburg-mpu.com/ueber-uns/">Über uns</a>
              </li>
              <li id="menu-item-1253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1253">
                <a href="https://son.ddev.site/leistungen/leistungen">Leistungen</a>
              </li>
              <li id="menu-item-1249" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1249">
                <a href="https://son.ddev.site/faq/h%C3%A4ufige-fragen">FAQ</a>
              </li>
              <li id="menu-item-1250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1250">
                <a href="https://son.ddev.site/sperrfrist/spsperrfrist?x-craft-preview=ZahEmXsCEp&amp;token=ZeGR584cYTCodMIgiiw5YrMFEhUEXY_-">Sperrfrist</a>
              </li>
              <li id="menu-item-1254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1254">
                <a href="https://son.ddev.site/admin/entries/kosten/65-kosten?draftId=27">Kosten</a>
              </li>
              <li id="menu-item-1801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1801">
                <a href="https://hamburg-mpu.com/kontakt-anfahrt/">Anfahrt</a>
              </li>
              <li id="menu-item-1846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1846">
                <a href="https://son.ddev.site/kontakt/kontakt">Kontakt</a>
              </li>
              <li id="menu-item-2149" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2149">
                <a href="https://son.ddev.site/blog/blog">Blog</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
      <div class="widget-column footer-widget-2">
        <section id="nav_menu-3" class="widget widget_nav_menu">
          <h2 class="widget-title">Rechtliches</h2>
          <nav class="menu-footer2-container" aria-label="Rechtliches">
            <ul id="menu-footer2" class="menu">
              <li id="menu-item-1342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-1342">
                <a rel="privacy-policy" href="https://hamburg-mpu.com/datenschutz/">Datenschutz</a>
              </li>
              <li id="menu-item-1341" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1341">
                <a href="https://hamburg-mpu.com/impressum/">Impressum</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
    </aside>
  </div>
</footer>

</body>
</html>





