<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://son.ddev.site/">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="apple-touch-icon" sizes="76x76" href="{{ siteUrl }}assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="{{ siteUrl }}assets/img/favicon.png">

<title>
  
hamburg-mpu
Ihr Partner bei der MPU-Vorbereitung in Hamburg
  
</title>




<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

<!-- Nucleo Icons -->
<link href="{{ siteUrl }}assets/css/nucleo-icons.css" rel="stylesheet" />
<link href="{{ siteUrl }}assets/css/nucleo-svg.css" rel="stylesheet" />

<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

<!-- CSS Files -->



<link id="pagestyle" href="{{ siteUrl }}assets/css/material-kit.css?v=3.0.4" rel="stylesheet" />





<!-- Nepcha Analytics (nepcha.com) -->
<!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
<script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>

<body class="index-page bg-gray-200">
  
  
  <!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0"><div class="row"><div class="col-12">
<nav class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
  <div class="container-fluid px-0">
    <a class="navbar-brand font-weight-bolder ms-sm-3" href="https://son.ddev.site/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
      Hamburg-mpu
    </a>
    </div>
    
    
    

        </ul>
        <div class="menu-primary-containerbir"><ul id="top-menu" class="menubir"><li id="menu-item-1011" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1011"><a href="https://son.ddev.site/uber-uns/uber-uns">Überuns</a></li>
    <li id="menu-item-1012" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1012"><a href="https://son.ddev.site/leistungen/leistungen">Leistungen</a></li>
    <li id="menu-item-1047" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1047"><a href="https://son.ddev.site/faq/h%C3%A4ufige-fragen">FAQ</a></li>
    <li id="menu-item-1024" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1024"><a href="https://son.ddev.site/sperrfrist/spsperrfrist">Sperrfrist</a></li>
    <li id="menu-item-989" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-989"><a href="https://son.ddev.site/kosten/kosten?x-craft-preview=yi5XnEiUeV&token=rs4MU3TUYKW8BQ9kp_wwWKWB66D4sXEs">Kosten</a></li>
    <li id="menu-item-1892" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1892"><a href="https://son.ddev.site/kontakt/kontakt">Kontakt</a></li>
    <li id="menu-item-2204" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2204"><a href="https://son.ddev.site/blog/blog">Blog</a></li>
</ul></div>
        
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
</div></div></div>


<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('https://hamburg-mpu.com/wp-content/uploads/2021/07/3-snail-6191155-NerissonPhotographie-768x497.jpg')">
    <span class="mask bg-gradient-primary opacity-4"></span>
    <div class="container">
      <div class="row">
        
      </div>
    </div>
  </div>
</header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

<div id="content" class="site-content">

<div class="wrap">
	<div id="primary" class="content-area">
		<main id="main" class="site-main">

			
<article id="post-2009" class="post-2009 post type-post status-publish format-quote hentry category-news tag-mpu-abstinenznachweis tag-mpu-abstinenznachweis-wie-lange tag-mpu-ohne-abstinenznachweis post_format-post-format-quote">
		<header class="entry-header">
		<div class="entry-meta"><span class="posted-on"><span class="screen-reader-text">Veröffentlicht am</span> <a href="https://hamburg-mpu.com/mpu-abstinenznachweis-wie-lange-muessen-sie-entsagen/" rel="bookmark"><time class="entry-date published" datetime="2021-07-05T07:10:36+00:00">Juli 5, 2021</time><time class="updated" datetime="2021-07-19T07:14:52+00:00">Juli 19, 2021</time></a></span><span class="byline"> von <span class="author vcard"><a class="url fn n" href="https://hamburg-mpu.com/author/hamburgmpu/">hamburgmpu</a></span></span></div><!-- .entry-meta --><h1 class="entry-title">MPU Abstinenznachweis – wie lange müssen Sie entsagen?</h1>	</header><!-- .entry-header -->

	
	<div class="entry-content">
		<p><a href="https://hamburg-mpu.com/mpu-abstinenznachweis-wie-lange-muessen-sie-entsagen/"><br>
							<img decoding="async" width="525" height="340" src="https://hamburg-mpu.com/wp-content/uploads/2021/07/3-snail-6191155-NerissonPhotographie-768x497.jpg" alt="" loading="lazy" srcset="https://hamburg-mpu.com/wp-content/uploads/2021/07/3-snail-6191155-NerissonPhotographie-768x497.jpg 768w, https://hamburg-mpu.com/wp-content/uploads/2021/07/3-snail-6191155-NerissonPhotographie-300x194.jpg 300w, https://hamburg-mpu.com/wp-content/uploads/2021/07/3-snail-6191155-NerissonPhotographie-1024x663.jpg 1024w, https://hamburg-mpu.com/wp-content/uploads/2021/07/3-snail-6191155-NerissonPhotographie-1536x995.jpg 1536w, https://hamburg-mpu.com/wp-content/uploads/2021/07/3-snail-6191155-NerissonPhotographie-2048x1326.jpg 2048w" sizes="100vw">								</a></p>
<h1>MPU Abstinenznachweis – wie lange müssen Sie entsagen?</h1>
<h2>MPU Abstinenznachweis</h2>
<p>Wenn für Autofahrer eine Medizinisch-Psychologische Untersuchung (MPU) angeordnet wurde, stehen viele erst einmal ratlos und ohne weitere Informationen da. Um den Führerschein aber schnellstmöglich wiederzubekommen, ohne angesetzte Fristen zu überschreiten, ist ein Überblick über die persönliche Situation sehr wichtig.</p>
<p>Sollten Sie aufgrund von Alkohol- oder Drogenkonsum die Fahrerlaubnis entzogen bekommen haben, ist eine nachfolgende MPU sehr wahrscheinlich. Wurden Sie unter Drogeneinfluss oder unter deren Abbauprodukten im Straßenverkehr erwischt, ist ein Abstinenznachweis für Drogen unausweichlich. <br>Auch Alkoholabstinenznachweise können erforderlich sein, unabhängig von der Höhe der festgestellten Blutalkoholkonzentration.</p>
<p><span id="more-2009"></span></p>
<h2>MPU Abstinenznachweis wie lange?</h2>
<p>Um die Fahrerlaubnis durch eine Medizinisch-Psychologische Untersuchung wiederzuerlangen, sind gewisse Fristen einzuhalten. Sollten Sie innerhalb des festgelegten Zeitraums kein positives Gutachten hierfür einreichen, ist Ihr Antrag auf die Wiedererteilung Ihres Führerscheins leider abgelehnt. Umso wichtiger ist es, dass Sie während des gesamten Prozesses kompetente Partner an Ihrer Seite haben, die Ihnen bei der Wiederbeschaffung Ihrer Fahrerlaubnis behilflich sein können.</p>
<p>Die Zeiträume für die Abstinenz variieren je nach individueller Situation und hängen davon ab, ob ein Alkohol- oder aber ein Drogenvergehen betrachtet wird. So ist je nach individueller Vorgeschichte bei Alkoholauffälligkeit ein Nachweis nicht zwingend nötig.</p>
<p>Anders ist es bei Drogenvergehen: Hier ist eine MPU ohne Abstinenznachweis nicht möglich und die Abstinenz muss immer nachgewiesen werden. Sollte eine Abstinenznotwendigkeit bestehen, beträgt die Zeitspanne hierfür zwischen 6 und 12 Monaten.</p>
<h2>Lieferung Abstinenznachweis</h2>
<p>Reichten einst als Nachweis für einen Alkoholverzicht noch gute Leberwerte aus, sind heute die Regularien für die Medizinisch-Psychologische Untersuchung strenger, sodass zuverlässigere Ergebnisse durch die zuständigen Behörden erwartet werden. Sie können die Abstinenz vom Alkohol dabei entweder mit Urin- oder durch Haarproben nachweisen. Durch die Abgabe des Urins wird der Ethylglucuronid-Wert überprüft. Ethylglucuronid, auch ETG genannt, ist ein Abbauprodukt von Alkohol. Sie müssen jedoch unbedingt beachten, dass Flüssigkeiten mit einem geringen alkoholischen Wert wie alkoholfreies Bier oder Weißweinsaucen diesen Wert beeinflussen können. Auch auf Ihre Ernährung sollte während der Abstinenz ein Auge geworfen werden.</p>
<p>Die Abstinenznachweise können bei einer anerkannten Begutachtungsstelle, an Universitätskliniken oder bei der Rechtsmedizin durchgeführt werden. Sowohl für die Kosten der Urin- als auch der Haaranalysen müssen Sie selber aufkommen, diese sind je nach Labor unterschiedlich hoch, können aber vorher erfragt werden.</p>
	</div><!-- .entry-content -->

	<footer class="entry-footer"><span class="cat-tags-links"><span class="tags-links"><svg class="icon icon-hashtag" aria-hidden="true" role="img"> <use href="#icon-hashtag" xlink:href="#icon-hashtag"></use> </svg><span class="screen-reader-text">Schlagwörter</span><a href="https://son.ddev.site/mpu-abstinenznachweis/mpu-abstinenznachweis?x-craft-preview=sNL8KptGTK&token=3sKcjTZdFLBVQzM3vf_Cb2LYKHM_Ci2S" rel="tag">mpu abstinenznachweis</a>, <a href="https://son.ddev.site/mpu-abstinenznachweis/mpu-abstinenznachweis?x-craft-preview=sNL8KptGTK&token=3sKcjTZdFLBVQzM3vf_Cb2LYKHM_Ci2S" rel="tag">mpu abstinenznachweis wie lange</a>, <a href="https://son.ddev.site/mpu-abstinenznachweis/mpu-abstinenznachweis?x-craft-preview=sNL8KptGTK&token=3sKcjTZdFLBVQzM3vf_Cb2LYKHM_Ci2S" rel="tag">mpu ohne abstinenznachweis</a></span></span></footer> <!-- .entry-footer -->
</article><!-- #post-2009 -->

	<nav class="navigation post-navigation" aria-label="Beiträge">
		<h2 class="screen-reader-text">Beitrags-Navigation</h2>
		<div class="nav-links"><div class="nav-previous"><a href="https://son.ddev.site/kann-man-die-mpu-umgehen/kann-man-die-mpu-umgehen" rel="prev"><span class="screen-reader-text">Vorheriger Beitrag</span><span aria-hidden="true" class="nav-subtitle">Zurück</span> <span class="nav-title"><span class="nav-title-icon-wrapper"><svg class="icon icon-arrow-left" aria-hidden="true" role="img"> <use href="#icon-arrow-left" xlink:href="#icon-arrow-left"></use> </svg></span>Kann man die MPU umgehen?</span></a></div><div class="nav-next"><a href="https://son.ddev.site/mpu-verjahrung/mpu-verj%C3%A4hrung?x-craft-preview=49ib88xFjp&token=9x540bCr7G1W7lNk_nPubZFCzOw27X69" rel="next"><span class="screen-reader-text">Nächster Beitrag</span><span aria-hidden="true" class="nav-subtitle">Weiter</span> <span class="nav-title">MPU Verjährung: Ab wann und was gibt es zu beachten?<span class="nav-title-icon-wrapper"><svg class="icon icon-arrow-right" aria-hidden="true" role="img"> <use href="#icon-arrow-right" xlink:href="#icon-arrow-right"></use> </svg></span></span></a></div></div>
	</nav>
		</main><!-- #main -->
	</div><!-- #primary -->
	
<aside id="secondary" class="widget-area" aria-label="Blog-Seitenleiste">
	<section id="block-6" class="widget widget_block">
<div class="wp-block-buttons is-layout-flex"></div>
</section></aside><!-- #secondary -->
</div><!-- .wrap -->


		</div>

  </div>

	<div class="slider-container">
  <ul class="slider-images">
    <li class="slider-image active-slide" style="background-color: rgb(26, 51, 100);">
      <div class="slider-content">
        <p style="text-align: center;  ">
          <a href="https://son.ddev.site/" style="color:indianred; font-weight: bold;">Über uns</a>
        </p>
        <p style="text-align: center; color:indianred;">Gabriela Dresel</p>
      </div>
    </li>
  </ul>
</div>

  <footer class="footer">

    <div class="content-columnbir centered">

      <p>Copyright 2023 hamburg-mpu Corp. Alle Rechte vorbehalten.</p>

    </div>
  </footer>

  <script src="{{ siteUrl }}static/js/scripts.js"></script>
</div>
<footer id="colophon" class="site-footer">
  <div class="wrap">
    <aside class="widget-area" aria-label="Footer">
      <div class="widget-column footer-widget-1">
        <section id="nav_menu-2" class="widget widget_nav_menu">
          <h2 class="widget-title">Informationen</h2>
          <nav class="menu-footer1-container" aria-label="Informationen">
            <ul id="menu-footer1" class="menu">
              <li id="menu-item-1826" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1187 current_page_item menu-item-1826">
                <a href="https://son.ddev.site/" aria-current="page">Home</a>
              </li>
              <li id="menu-item-1252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1252">
                <a href="https://hamburg-mpu.com/ueber-uns/">Über uns</a>
              </li>
              <li id="menu-item-1253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1253">
                <a href="https://son.ddev.site/leistungen/leistungen">Leistungen</a>
              </li>
              <li id="menu-item-1249" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1249">
                <a href="https://son.ddev.site/faq/h%C3%A4ufige-fragen">FAQ</a>
              </li>
              <li id="menu-item-1250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1250">
                <a href="https://son.ddev.site/sperrfrist/spsperrfrist?x-craft-preview=ZahEmXsCEp&amp;token=ZeGR584cYTCodMIgiiw5YrMFEhUEXY_-">Sperrfrist</a>
              </li>
              <li id="menu-item-1254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1254">
                <a href="https://son.ddev.site/admin/entries/kosten/65-kosten?draftId=27">Kosten</a>
              </li>
              <li id="menu-item-1801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1801">
                <a href="https://hamburg-mpu.com/kontakt-anfahrt/">Anfahrt</a>
              </li>
              <li id="menu-item-1846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1846">
                <a href="https://son.ddev.site/kontakt/kontakt">Kontakt</a>
              </li>
              <li id="menu-item-2149" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2149">
                <a href="https://son.ddev.site/blog/blog">Blog</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
      <div class="widget-column footer-widget-2">
        <section id="nav_menu-3" class="widget widget_nav_menu">
          <h2 class="widget-title">Rechtliches</h2>
          <nav class="menu-footer2-container" aria-label="Rechtliches">
            <ul id="menu-footer2" class="menu">
              <li id="menu-item-1342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-1342">
                <a rel="privacy-policy" href="https://hamburg-mpu.com/datenschutz/">Datenschutz</a>
              </li>
              <li id="menu-item-1341" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1341">
                <a href="https://hamburg-mpu.com/impressum/">Impressum</a>
              </li>
            </ul>
          </nav>
        </section>
      </div>
    </aside>
  </div>
</footer>

</body>
</html>





